{% extends "GovWikiFrontendBundle:Layout:main.html.twig" %}

{% block main %}
    <section class="mapController">

        <div class="row">
            {# Typeahead Search #}

            {% if hasElectedOfficials %}
                {#

                    Current environment has elected officials in government.
                    Show not only government search but also elected official
                    search.

                #}
                <div class="typeahead_wrap col-md-6 col-lg-5">
                    <input id="search_government" type="text" placeholder="{{ 'map.government.name'|trans }}" class="text-uppercase typeahead_government form-control" disabled>
                    {#<input id="search_government" type="text" placeholder="Government name" class="text-uppercase typeahead_government form-control" disabled>#}
                </div>
                <div class="typeahead_wrap col-md-6 col-lg-5">
                    <input id="search_elected" type="text" placeholder="Loading the list of elected officials" class="text-uppercase typeahead_elected form-control" disabled>
                </div>

                <div class="col-md-6 col-lg-5">
                    <p class="text-center text-nowrap hidden-xs hidden-sm">
                        {{ 'map.type_part_agency_name'|trans }}
                        {#Type part of the agency's name#}
                        <img src="{{ asset('bundles/govwikifrontend/img/ArrowUp.gif') }}" style="width:40px">
                        {{ 'map.click_on_map'|trans }}
                        {#or click it on the map#}
                        <img src="{{ asset('bundles/govwikifrontend/img/ArrowDown.gif') }}" style="width:40px">
                    </p>
                </div>
                <div class="col-md-6 col-lg-5">
                    <p class="text-nowrap hidden-xs hidden-sm" style="margin-left: 8%">
                        Type part of the official's name
                        <img src="{{ asset('bundles/govwikifrontend/img/ArrowUp.gif') }}" style="width:40px">
                    </p>
                </div>
            {% else %}
                {#

                    Environment hasn't any elected official, show only
                    government search.

                #}
                <div class="col-md-6 col-lg-5">
                    <div class="typeahead_wrap">
                        <input id="search_government" type="text" placeholder="{{ 'map.government.name'|trans }}" class="text-uppercase typeahead_government form-control" disabled>
                        {#<input id="search_government" type="text" placeholder="Government name" class="text-uppercase typeahead_government form-control" disabled>#}
                    </div>
                    <p class="text-center text-nowrap hidden-xs hidden-sm">
                        {{ 'map.type_part_agency_name'|trans }}
                        {#Type part of the agency's name#}
                        <img src="{{ asset('bundles/govwikifrontend/img/ArrowUp.gif') }}" style="width:40px">
                        {{ 'map.click_on_map'|trans }}
                        {#or click it on the map#}
                        <img src="{{ asset('bundles/govwikifrontend/img/ArrowDown.gif') }}" style="width:40px">
                    </p>
                </div>
            {% endif %}


        </div>

        <div class="row">
            {{ include('@GovWikiFrontend/Partial/Main/'~ mapEntity.position ~'.html.twig') }}
        </div>

    </section>

{% endblock %}


{# Stylesheets #}
{% block stylesheets %}

    {{parent()}}

    {% stylesheets '@GovWikiFrontendBundle/Resources/public/css/map.scss' filter='scss, cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}


{# Javascripts #}
{% block javascripts %}

    {{parent()}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

    <script>
        window.gw.map = '{{ map | escape('js') }}';
        window.gw.environment = '{{ environment }}';
        window.gw.urls = {};
        window.gw.urls.search_government = '{{ govwiki_path('govwiki_api_v1_government_search') }}';
        window.gw.urls.search_elected = '{{ govwiki_path('govwiki_api_v1_electedofficial_search') }}';
    </script>

    <script src="/js/vendor/typeahead.js"></script>

    {#<script src="http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb.js"></script>#}
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb.uncompressed.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/map.js"></script>

{% endblock %}
