<h4>Dear {{ full_name }},</h4>

<p>
    The California Policy Center maintains a profile for you, updated regularly. On {{ date()|date('m/d/y g:i a') }} we posted onto your profile information about a {{ type }} you made in your capacity as {{ title }} of {{ government_name }}. You may wish to review it. If you find any of this material in error, you may <a href="mailto:{{ email }}">email</a> our administrator who will review the entry to ensure it is accurate. If you would like to make a comment in reference to your {{ type }} you can do so by accessing our system at <a href="http://civicprofiles.californiapolicycenter.org/{{ governments_slug }}">http://civicprofiles.californiapolicycenter.org/{{ governments_slug }}</a>.
</p>
<p>
    The California Policy Center is dedicated to serving the community by providing detailed information on local politicians.
</p>
<p>
    Thank you.
</p>