{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}
{% block enviroment_menu %}
    <li>
        <a href="{{ path('govwiki_admin_main_home') }}">
            Environments
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_government_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_government_index') -}}">
            Governments
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_electedofficial_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_electedofficial_index') -}}">
            Elected Officials
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_legislation_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_legislation_index') -}}">
            Legislation
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_createrequest_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_createrequest_index') -}}">Create Requests</a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_editrequest_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_editrequest_index') -}}">Edit Requests</a>
    </li>
    {{ parent() }}
{% endblock enviroment_menu %}