{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}
{% block enviroment_menu %}

    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_government_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_government_index') -}}">
            Governments
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_electedofficial_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_electedofficial_index') -}}">
            Elected Officials
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_legislation_index' %} class="active"{% endif %}>
        <a href="{{- path('govwiki_admin_legislation_index') -}}">
            Legislation
        </a>
    </li>

    {# Requests menu #}
    {# Visibility: sm or more #}
    <li class="dropdown hidden-xs hidden-sm">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Requests<span class="caret"></span></a>
        <ul class="dropdown-menu">

            <li{% if app.request.attributes.get('_route') == 'govwiki_admin_createrequest_index' %} class="active"{% endif %}>
                <a href="{{- path('govwiki_admin_createrequest_index') -}}">Create Requests</a>
            </li>

            <li{% if app.request.attributes.get('_route') == 'govwiki_admin_editrequest_index' %} class="active"{% endif %}>
                <a href="{{- path('govwiki_admin_editrequest_index') -}}">Edit Requests</a>
            </li>

        </ul>
    </li>

    {# Visibility: sm or less #}
    <li class="{{ app.request.attributes.get('_route') == 'govwiki_admin_createrequest_index' ? 'active' }} visible-xs visible-sm">
        <a href="{{- path('govwiki_admin_createrequest_index') -}}">Create Requests</a>
    </li>

    {# Visibility: sm or less #}
    <li class="{{ app.request.attributes.get('_route') == 'govwiki_admin_editrequest_index' ? 'active' }} visible-xs visible-sm">
        <a href="{{- path('govwiki_admin_editrequest_index') -}}">Edit Requests</a>
    </li>

    {{ parent() }}

{% endblock enviroment_menu %}