{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@GovWikiAdminBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block header %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('govwiki_admin_main_home') }}">GovWiki</a>
                <ul class="nav navbar-nav">
                    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_government_index' %} class="active"{% endif %}>
                        <a href="{{ path('govwiki_admin_government_index') }}">Governments</a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_electedofficial_index' %} class="active"{% endif %}>
                        <a href="{{ path('govwiki_admin_electedofficial_index') }}">Elected Officials</a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'govwiki_admin_legislation_index' %} class="active"{% endif %}>
                        <a href="{{ path('govwiki_admin_legislation_index') }}">Legislations</a>
                    </li>
                </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block modal %}
<div id="modal-window" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Loading...</div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@HeltheTurbolinksBundle/Resources/public/js/turbolinks.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
