{% extends "::base.html.twig" %}

{% import "@GovWikiAdmin/Layout/macro.html.twig" as macro %}

{% block title %}GovWiki Admin{% endblock title %}

{% block flashMessages %}
    {# Error messages #}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {# Success messages #}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {# Info messages #}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="row">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
{% endblock flashMessages %}

{% block header %}

    <div class="row header">

        {# Logo #}
        <div class="col-xs-6 col-sm-6 col-md-3">
            {% if environment_content.get('header_logo') != null %}
            <img src="{{ environment_content.get('header_logo')|raw }}" alt="California Policy Center" class="logo">
            {% endif %}
        </div>

        {# Menu button (hamburger) for mobile devices #}
        <div class="col-xs-6 col-sm-6 visible-xs visible-sm">

            <button type="button" class="hamburger navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-navigation-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        {# Navigation #}
        <nav class="menu col-xs-12 col-sm-12 col-md-9 text-right">

            <ul class="navigation navbar-collapse collapse" id="bs-navigation-collapse">

                {# Environment menu #}
                {% block enviroment_menu %}{% endblock enviroment_menu %}

                {# System menu #}
                <li class="dropdown hidden-xs hidden-sm">
                    <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >System<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li class="{{ app.request.attributes.get('_route') == 'govwiki_admin_main_home' ? 'active' }}">
                            <a class="link" href="{{ path('govwiki_admin_main_home') }}"> Environments</a>

                        </li>

                        <li class="{{ app.request.attributes.get('_route') == 'govwiki_admin_user_index' ? 'active' }}">
                            <a class="link" href="{{ path('govwiki_admin_user_index') }}"> Users </a>
                        </li>
                    </ul>
                </li>

                {# Visibility: sm or less #}
                <li class="{{ app.request.attributes.get('_route') == 'govwiki_admin_main_home' ? 'active' }} visible-xs visible-sm">
                    <a class="link" href="{{ path('govwiki_admin_main_home') }}"> Environments </a>
                </li>

                {# Visibility: sm or less #}
                <li class="{{ app.request.attributes.get('_route') == 'govwiki_admin_user_index' ? 'active' }} visible-xs visible-sm">
                    <a class="link" href="{{ path('govwiki_admin_user_index') }}"> Users </a>
                </li>

                {# Logout icon #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="link" href="{{- path('fos_user_security_logout') -}}">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>
                {% endif %}

            </ul>

        </nav>

    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div id="modal-delete" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title">Confirm</h4></div>
                    <div class="modal-body"><div class="text-center"></div></div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <a id="delete-confirm" class="btn btn-danger">
                                Delete
                            </a>
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{# Modal #}
{% block modal %}
    <div id="modal-window" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Loading...</div>
            </div>
        </div>
    </div>
{% endblock %}


{# Stylesheets #}
{% block stylesheets %}

    {{ parent() }}

    <link href="https://bootswatch.com/paper/bootstrap.min.css" rel="stylesheet">

    {% stylesheets 'bundles/govwikiadmin/css/main.scss' filter='scss, cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% if admin_environment is defined and admin_environment != '' %}
        <link rel="stylesheet" href="{{ asset('/css/'~admin_environment~'.css') }}" />
    {% endif %}
{% endblock %}

{# Javascripts #}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('.btn-delete').click(function() {
                var $this = $(this);
                var $modal = $('#modal-delete');

                $('#delete-confirm').attr('href', $this.data('url'));

                $modal.find('.modal-body').find('.text-center')
                    .html($this.data('description'));
                $modal.modal('show');
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    {% javascripts  '@GovWikiFrontendBundle/Resources/public/js/script.js'
                    output='js/admin.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#{% javascripts '@HeltheTurbolinksBundle/Resources/public/js/turbolinks.js' %}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{% endblock %}
