{% extends "GovWikiAdminBundle:Environment:layout.html.twig" %}

{% block title %}{{ parent() }} - Edit requests{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{ macro.breadcrumbElement('Edit Requests') }}
{% endblock breadcrumb %}

{% block panel_title %}
    Edit requests
{% endblock panel_title %}

{% block panel_body %}
    <div class="index-page-head">
        <div class="navigation">
            <div class="row">
                <div class="col-md-5">
                    {{ knp_pagination_render(editRequests) }}
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>{{- knp_pagination_sortable(
                editRequests,
                'Id',
                'er.id'
            ) -}}</td>
            <td>{{- knp_pagination_sortable(
                editRequests,
                'Created',
                'er.created'
            ) -}}</td>
            <td>{{- knp_pagination_sortable(
                editRequests,
                'Status',
                'er.status'
            ) -}}</td>
            <td>{{- knp_pagination_sortable(
                editRequests,
                'User',
                'u.username'
            ) -}}</td>
            <td>{{- knp_pagination_sortable(
                editRequests,
                'Data Type',
                'er.entityName'
            ) -}}</td>
            <td>{{- knp_pagination_sortable(
                editRequests,
                'Entity id',
                'er.entityId'
            ) -}}</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for editRequest in editRequests %}
            <tr>
                <td>{{ editRequest.id }}</td>
                <td>{{ editRequest.created|date('m/d/y g:i a') }}</td>
                <td>{{ editRequest.status|capitalize }}</td>
                <td>{% if editRequest.user %}{{ editRequest.user.username }}{% endif %}</td>
                <td>{{ editRequest.entityName }}</td>
                <td>{{ editRequest.entityId }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{- path(
                            'govwiki_admin_editrequest_show',
                            {
                                'environment': environment.slug,
                                'id': editRequest.id
                            }
                        )-}}" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-search"></span> Show
                        </a>
                        <button class="btn btn-sm btn-danger btn-delete" data-url="{{-
                        path(
                            'govwiki_admin_editrequest_remove',
                            {
                                'environment': environment.slug,
                                'id': editRequest.id
                            }
                        ) -}}"
                                data-description="Are you sure want to delete EditRequest '{{ editRequest.id }}'?">
                            <i class="glyphicon glyphicon-remove"></i> Remove
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(editRequests) }}
    </div>
{% endblock panel_body %}
