<table class="table table-bordered">
    <thead>
    <tr>
        <th><label for="condition_{{idx}}_color">Apply colors</label></th>
        <th style="min-width: 130px"><label for="condition_{{idx}}_type">Condition type</label></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="input-group color-picker colorpicker-element">
                <span class="input-group-addon"><i></i></span>
                <input type="text" id="condition_{{idx}}_color" name="ccc[conditions][{{idx}}][color]" required="required" class="form-control" value="{{condition.color}}">
            </div>
        </td>

        <td>
            <select name="ccc[conditions][{{idx}}][type]" id="condition_{{idx}}_type" data-idx="{{idx}}" class="condition-type form-control">
                <option value="simple">Comparison</option>
                <option value="period">Period</option>
                <option value="null" selected>Is Null</option>
            </select>
        </td>

        <td>
            <button type="button" class="btn btn-danger condition-remove">Remove</button>
        </td>
    </tr>
    </tbody>
</table>