
{{! Set value. }}
<div class="form-group col-md-3 col-xs-12">
    <label for="condition_{{idx}}_value">Value</label>
    <input class="form-control" id="condition_{{idx}}_value" name="ccc[conditions][{{idx}}][value]" value="{{condition.value}}">
</div>

{{! Operation selections. }}
<div class="form-group col-md-3 col-xs-12">
    <label for="condition_{{idx}}_operation">Operation</label>
    <select style="width: 80px" id="condition_{{idx}}_operation" name="ccc[conditions][{{idx}}][operation]">
        <option value="<=" {{#ifCond condition.operation '<=' }} selected{{/ifCond}}><</option>
        <option value=">=" {{#ifCond condition.operation '>=' }} selected{{/ifCond}}>></option>
    </select>
</div>

{{! Color selection. }}
<div class="form-group col-md-3 col-xs-12">
    <label for="condition_{{idx}}_color">Color</label>

    <div class="input-group color-picker colorpicker-element">
        <span class="input-group-addon"><i></i></span>
        <input type="text" id="condition_{{idx}}_color" name="ccc[conditions][{{idx}}][color]" required="required" class="form-control" value="{{condition.color}}">
    </div>
</div>

{{! Condition type. }}
<div class="form-group col-md-3 col-xs-12">
    <label for="condition_{{idx}}_type">Type</label>
    <select name="ccc[conditions][{{idx}}][type]" id="condition_{{idx}}_type" data-idx="{{idx}}" class="condition-type">
        <option value="simple" selected>Comparison</option>
        <option value="period">Period</option>
        <option value="null">Is Null</option>
    </select>
    <button type="button" class="btn btn-danger condition-remove">Remove</button>
</div>