{% extends "GovWikiAdminBundle:Environment:layout.html.twig" %}

{% block title %}{{ parent() }} - advertising{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{ macro.breadcrumbElement('Advertising') }}
{% endblock breadcrumb %}

{% block panel_title %}
    Advertising
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.advertingType) }}</div>
        <div class="col-md-6">{{ form_row(form.advertingEnable) }}</div>
    </div>
    {{ form_row(form.advertingCode) }}
    <div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
    {{ form_end(form) }}
{% endblock panel_body %}