{% import _self as helper %}
{#
    contributionYear
    contributionName
    independentExpenditureDesc
    contributionAmount
    contributionType
#}


<div role="tabpanel" class="tab-pane" id="Mobile-Contributions">
    <div class="tab-pane-main">

        <div class="add_action">
            Add new Contribution
            <span class="glyphicon glyphicon-plus"></span>
        </div>

        {% for contribution in contributions %}
            {% set blockId = 'contributionCollapse' ~ loop.index %}

            <div data-id="{{contribution.id}}" {% if (contribution.request is not null) and (contribution.request.status == 'pending') -%}
                    style="background: rgba(80, 0, 0, 0.1)"
                {%- endif -%}>
            </div>

            {# Card #}
            <div class="card">

                {# Header #}
                <div class="card-header text-justify" data-toggle="collapse" data-target="#{{ blockId }}"
                     aria-expanded="false" aria-controls="{{ blockId }}">

                    {# Contribution Name#}
                    <p class="card-header__vote-name">{{ contribution.contributorName }}</p>

                    {# Contribution amount #}
                    <div class="card-header__group">
                        <span class="card-header__vote-vote">
                            Election year: {{ helper.contributionYear(contribution) }}
                        </span>
                    </div>

                    {# Contribution amount #}
                    <div class="card-header__group">
                        <span class="card-header__vote-vote">
                            Ind. Exp. Desc : {{ helper.independentExpenditureDesc(contribution) }}
                        </span>
                        <span class="card-header__vote-sponsor">
                            Amount: {{ helper.contributionAmount(contribution) }}
                        </span>
                    </div>

                    {# Expand icon #}
                    <div class="card-expand" data-toggle="collapse" data-target="#{{ blockId }}" aria-expanded="false"
                         aria-controls="{{ blockId }}">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>

                </div>

                {# Content (Collapsable) #}
                <div class="collapse" id="{{ blockId }}">
                    <div class="card-block">

                        {# Vote date & issue category #}
                        <div>
                            Ind. Exp. Desc : {{ helper.independentExpenditureDesc(contribution) }}
                            Amount: {{ helper.contributionAmount(contribution) }}
                        </div>

                        {# Legislation info #}
                        <h4 class="card-title">{{ helper.contributionName(contribution) }}</h4>

                    </div>
                </div>

            </div>{# Card end #}

        {% else %}

            <tr>
                <td colspan="6" align="center">
                    <p style="font-size:18px; margin: 0;">No information at this time. Please check back later.</p>
                </td>
            </tr>

        {% endfor %}

    </div>
</div>




{% macro contributionYear (contribution) %}
    <div data-election-year="{{contribution.electionYear}}" class="card-block__vote-date">
        <a href="javascript:void(0);" data-type="text" data-pk="1"
           data-placeholder="Please edit" data-title="Please edit"
           class="editable editable-pre-wrapped editable-click" data-original-title=""
           title="">{{contribution.electionYear}}<span class="glyphicon glyphicon-pencil edit"></span></a>
    </div>
{% endmacro %}

{% macro contributionName (contribution) %}
    <div data-contributor-name="{{contribution.contributorName}}">
        <a href="javascript:void(0);" data-type="textarea" data-pk="1"
           data-placeholder="Please edit" data-title="Please edit"
           class="editable editable-pre-wrapped editable-click" data-original-title=""
           title="">{{contribution.contributorName}}</a>
        <span class="glyphicon glyphicon-pencil edit"></span>
    </div>
{% endmacro %}

{% macro independentExpenditureDesc (contribution) %}
    <div data-independent-expenditure-desc="{{contribution.independentExpenditureDesc}}" class="card-block__vote-date">
        <a href="javascript:void(0);" data-type="textarea" data-pk="1"
           data-placeholder="Please edit" data-title="Please edit"
           class="editable editable-pre-wrapped editable-click" data-original-title=""
           title="">{{contribution.independentExpenditureDesc}}</a>
        <span class="glyphicon glyphicon-pencil edit"></span>
    </div>
{% endmacro %}

{% macro contributionAmount (contribution) %}
    <div data-contribution-amount="{{contribution.contributionAmount}}" class="card-block__vote-date">
        <a href="javascript:void(0);" data-type="text" data-pk="1"
           data-placeholder="Please edit" data-title="Please edit"
           class="editable editable-pre-wrapped editable-click" data-original-title=""
           title="">{{contribution.contributionAmount|number_format}}</a>
        <span class="glyphicon glyphicon-pencil edit"></span>
    </div>
{% endmacro %}

{% macro contributorType (contribution) %}
    <div data-contributor-type="{{contribution.contributorType}}">
        <a href="javascript:void(0);" data-type="select" data-pk="1" data-source="{'Candidate Committee': 'Candidate Committee'}, {'Corporate': 'Corporate', 'Individual': 'Individual', 'Political Party': 'Political Party', 'Political Action Committee': 'Political Action Committee', 'Self': 'Self', 'Union': 'Union', 'Other': 'Other'}"
           data-placeholder="Please edit" data-title="Please edit"
           class="editable editable-pre-wrapped editable-click" data-original-title=""
           title="">{{contribution.contributorType}}</a>
        <span class="glyphicon glyphicon-pencil edit"></span>
    </div>
{% endmacro %}
