{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - governments{% endblock %}

{% block breadcrumb %}
    {{- macro.breadcrumbElement('Main', 'govwiki_admin_main_home') -}}
    {{-
        macro.breadcrumbElement(
            admin_environment|capitalize ~' environment',
            'govwiki_admin_main_show',
            { 'environment': admin_environment }
        )
    -}}
    {{- macro.breadcrumbElement('Governments', 'govwiki_admin_government_index') -}}
    {{- macro.breadcrumbElement(
            'Edit '~ government.name,
            'govwiki_admin_government_index',
            { 'government': government.id }
        )
    -}}
    {{-
        macro.breadcrumbElement(
            'Documents',
            'govwiki_admin_document_index',
            { 'government': government.id }
        )
    -}}
    {{- macro.breadcrumbElement('Edit document #'~ document.id) -}}
{% endblock breadcrumb %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {# Panel #}
            <div class="panel panel-primary">

                {# Header #}
                <div class="panel-heading">
                    <h3 class="panel-title">Edit document</h3>
                </div>

                {# Body #}
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success">Update</button>
                            <a class="btn btn-danger" href="{{-
                                path(
                                    'govwiki_admin_document_index',
                                    { 'government': government.id }
                                )
                            -}}">Back</a>
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
