{% extends "GovWikiAdminBundle:Government:layout.html.twig" %}

{% block title %}{{ parent() }} - governments{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        'Governments',
        'govwiki_admin_government_index',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        government.name,
        'govwiki_admin_government_edit',
        {
            'environment': environment.slug,
            'government': government.id
        }
    ) -}}
    {{- macro.breadcrumbElement(government.name ~ ' issues') -}}
{% endblock breadcrumb %}

{% block panel_title %}
    {{ government.name}} issues
{% endblock panel_title %}

{% block panel_body %}
    {# Navigation #}
    <div class="row">

        {# Pagination #}
        <div class="col-xs-12 col-sm-12 col-md-4 hidden-xs hidden-sm text-center">
            {{ knp_pagination_render(documents) }}
        </div>

        {# Filter #}
        <div class="col-xs-8 col-sm-9 col-md-5 col-lg-5 text-center text-left-sm">

            <div class="row">
                <form action="" method="get" class="form-inline controls">
                    <div class="col-xs-10">

                        <input name="filter[date]" type="text" class="form-control input-sm"
                               placeholder="Date" value="{{ macro.filterValue('date') }}">

                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center-xs">
                        <button type="submit" class="btn btn-sm btn-primary controls"
                                value="Filter">Filter</button>
                    </div>
                </form>
            </div>

        </div>

        {# Controls #}
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 text-center text-right-sm">
            <div class="btn-group controls">
                <a class="btn btn-sm btn-primary" href="{{-
                path('govwiki_admin_document_new', {
                    'environment': environment.slug,
                    'government': government.id
                })
                -}}">Create</a>
            </div>
        </div>

    </div>

    {# Table #}
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">

                <table class="table table-bordered table-hover text-center">
                    <thead>
                    <tr>
                        <th>{{- knp_pagination_sortable(
                            documents,
                            'Id',
                            'Document.id'
                        ) -}}</th>
                        <th>{{- knp_pagination_sortable(
                            documents,
                            'Type',
                            'Document.type'
                        ) -}}</th>
                        <th>{{- knp_pagination_sortable(
                            documents,
                            'Description',
                            'Document.description'
                        ) -}}</th>
                        <th>{{- knp_pagination_sortable(
                            documents,
                            'Link',
                            'Document.link'
                        ) -}}</th>
                        <th>{{- knp_pagination_sortable(
                            documents,
                            'Date',
                            'Document.date'
                        ) -}}</th>
                        {#<th>{{- knp_pagination_sortable(
                            documents,
                            'State',
                            'Document.state'
                            ) -}}</th>#}
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>{{ document.id }}</td>
                            <td>{{ document.type|capitalize }}</td>
                            <td>{{ document.description }}</td>
                            <td>{{ document.link }}</td>
                            <td>{{ document.date|date('Y-m-d') }}</td>
                            {#<td>{{ document.state }}</td>#}
                            <td>
                                <div class="btn-group">
                                    {#{%- if document.state is not null and document.state == 'pending' -%}
                                        <a href="{{-  path('govwiki_admin_document_approve', {
                                            'environment': environment.slug,
                                            'government': government.id,
                                            'issue': document.id
                                        }) -}}" class="btn btn-sm btn-success">Approve</a>
                                        <a href="{{-  path('govwiki_admin_document_discard', {
                                            'environment': environment.slug,
                                            'government': government.id,
                                            'issue': document.id
                                        }) -}}" class="btn btn-sm btn-danger">Discard</a>
                                    {%- else -%}#}
                                        <a href="{{- path('govwiki_admin_document_edit', {
                                            'environment': environment.slug,
                                            'government': government.id,
                                            'document': document.id
                                        }) -}}" class="btn btn-sm btn-default">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            Edit
                                        </a>
                                        <button data-url="{{- path('govwiki_admin_document_delete', {
                                            'environment': environment.slug,
                                            'government': government.id,
                                            'document': document.id
                                        }) -}}" class="btn btn-sm btn-danger btn-delete" data-description="Are you sure want to delete issue '{{ document.link }}'?">
                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                        </button>
                                    {#{%- endif -%}#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>


    {# Navigation #}
    <div class="row">
        <div class="col-md-12 text-center">

            {# Pagination #}
            <div class="navigation">
                {{ knp_pagination_render(documents) }}
            </div>

        </div>
    </div>
{% endblock panel_body %}
