{% extends "GovWikiAdminBundle:Government:layout.html.twig" %}

{% block title %}{{ parent() }} - governments{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        'Governments',
        'govwiki_admin_government_index',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        government.name,
        'govwiki_admin_government_edit',
        {
            'environment': environment.slug,
            'government': government.id
        }
    ) -}}
    {{- macro.breadcrumbElement(
        government.name ~ ' documents',
        'govwiki_admin_document_index',
        {
            'environment': environment.slug,
            'government': government.id
        }
    ) -}}
    {{- macro.breadcrumbElement('New document') -}}
{% endblock breadcrumb %}

{% block panel_title %}
    New document
{% endblock panel_title %}

{% block panel_body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Create</button>
            <a class="btn btn-danger" href="{{- path(
                'govwiki_admin_document_index',
                {
                    'environment': environment.slug,
                    'government': government.id
                }
            ) -}}">Back</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock panel_body %}