{% extends '@GovWikiAdmin/CreateRequest/show.html.twig' %}

{% import '@GovWikiAdmin/CreateRequest/show.html.twig' as show_macro %}

{% block detailed %}
    {{ show_macro.addFormRow(form.date) }}
    {{ show_macro.addFormRow(form.summary) }}
    {{ show_macro.addFormRow(form.url) }}
{% endblock detailed %}

{% block associations %}
    <tr>
        <td>Government</td>
        <td>{{ form.vars.value.electedOfficial  }}</td>
    </tr>
    {{ show_macro.addFormRow(form.issueCategory) }}
{% endblock associations %}