{% extends "GovWikiAdminBundle:Environment:layout.html.twig" %}

{% block title %}{{ parent() }} - advertising{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{ macro.breadcrumbElement('Advertising & Donation') }}
{% endblock breadcrumb %}

{% block panel_title %}
    Advertising & Donation
{% endblock panel_title %}

{% block panel_body %}
    {{- form_start(form) -}}
    <div class="col-md-6 col-xs-12">
        <h3>Advertising</h3>
        {{- form_widget(form.advertising) -}}
    </div>
    <div class="col-md-6 col-xs-12">
        <h3>Donation button</h3>
        {{- form_widget(form.button) -}}
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
    {{- form_end(form) -}}
{% endblock panel_body %}