{% extends "GovWikiAdminBundle:Environment:layout.html.twig" %}

{% block title %}{{ parent() }} - {{ environment.name }}{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{ macro.breadcrumbElement(environment.name|capitalize ~' environment') }}
{% endblock breadcrumb %}

{% block panel_title %}
    Environment info
{% endblock panel_title %}

{% block panel_body %}
    <div class="row">

        {# Information about environment. #}
        <div class="col-md-2 environment-buttons">

            {#<button class="btn btn-sm btn-default" id="import-fin-stmt">
                Import fin. stmt.
            </button>#}

            <a class="btn btn-sm btn-default" href="{{- path(
                'govwiki_admin_environment_updatefindata',
                { environment: environment.slug }
            ) -}}">
                FinData localization
            </a>

            <a class="btn btn-sm btn-default" href="{{- path(
                'govwiki_admin_environment_sync',
                { environment: environment.slug }
            ) -}}">
                Update CartoDB
            </a>

            <a class="btn btn-sm btn-default" href="{{- path(
                'govwiki_admin_environment_rank',
                { environment: environment.slug }
            ) -}}">
                Recalculate Ranks
            </a>

            <button class="btn btn-sm btn-default" id="generator-show">
                Generate HTML
            </button>

            <button class="btn btn-sm btn-default" id="copy-show">
                Copy HTML
            </button>

            <hr>

            <h6>Status:
                <small>
                    {%- if environment.enabled -%}
                        <a href="{{- path('govwiki_admin_environment_disable',
                        { environment: environment.slug }) -}}"
                           class="text-success">Enabled</a>
                    {%- else -%}
                        <a href="{{- path('govwiki_admin_environment_enable',
                        { environment: environment.slug }) -}}"
                           class="text-danger">Disabled</a>
                    {%- endif -%}
                </small>
            </h6>

            <h6>Map:
                <small>
                    {%- if environment.map and environment.map.isCreated -%}
                        <span class="text-success">Created</span>
                    {%- else -%}
                        <span class="text-danger">Not created</span>
                    {% endif %}
                </small>
            </h6>


            <h6>Formats:
                <small>
                    {%- if environment.formats -%}
                        <span class="text-success">Exists</span>
                    {%- else -%}
                        <span class="text-danger">Not exists</span>
                    {%- endif -%}
                </small>
            </h6>

            <h6>Managers</h6>
            <ul>
                {% for user in environment.users %}
                    {% if user.hasRole('ROLE_MANAGER') %}
                        <li>
                            <a href="{{- path('govwiki_admin_user_edit', {
                                'environment': environment.slug,
                                'id': user.id
                            }) -}}">{{ user }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        {# Forms #}
        <div class="col-md-10">
            {{ form_start(form) }}

            {# Nav tabs #}
            {% if environment.locales|length == 1 %}
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                    <li role="presentation"><a href="#greeting-text" aria-controls="greeting-text" role="tab" data-toggle="tab">Greeting text</a></li>
                    <li role="presentation"><a href="#bottom-text" aria-controls="bottom-text" role="tab" data-toggle="tab">Bottom text</a></li>
                </ul>
            {% endif %}

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    {{ form_row(form.domain) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.adminEmail) }}
                    {{ form_row(form.defaultLocale) }}
                    {{ form_row(form.file) }}
                    {{ form_row(form.logoHref) }}
                    {{ form_row(form.mainImageFile) }}
                    {{ form_row(form.analytics) }}
                    {{ form_row(form.subscribable, {'label': 'Users can subscribe to governments of the environment'}) }}
                    {{ form_row(form.canLogin) }}
                </div>

                {% if environment.locales|length == 1 %}
                    <div role="tabpanel" class="tab-pane" id="greeting-text">
                        <div class="form-group">
                            <label class="control-label required" for="greetingText">
                                Greeting text
                            </label>
                                                <textarea id="content_greetingText" name="greetingText" class="environment-content">
                                                    {{ greetingText }}
                                                </textarea>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="bottom-text">
                        <div class="form-group">
                            <label class="control-label required" for="bottomText">
                                Bottom text
                            </label>
                                                <textarea id="content_bottomText" name="bottomText" class="environment-content">
                                                    {{ bottomText }}
                                                </textarea>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="btn-group pull-left">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" data-description="Delete environment with all governments?" class="btn btn-danger btn-delete" data-url="{{ path('govwiki_admin_environment_remove', {environment: environment.slug}) }}">
                    Delete
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <div id="modal-generator" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4 class="modal-title">Generate html page</h4></div>
                <div class="modal-body">
                    <div class="generator-info" style="display: none">
                        Generation is scheduled. You can wait about 1 minute and
                        see progress bar.
                    </div>
                    <div class="generator-status" style="display: none">
                        <div class="text-center">
                            Governments:
                        </div>
                        <div id="government" class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar" aria-valuenow=""
                                 aria-valuemin="0" aria-valuemax="">

                            </div>
                        </div>
                        <div class="text-center">
                            Elected Officials:
                        </div>
                        <div id="elected" class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar" aria-valuenow=""
                                 aria-valuemin="0" aria-valuemax="">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-danger" id="generator-close" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-copy" class="modal fade" data-check-url="{{-
        path('govwiki_admin_generator_check', {
            environment: environment.slug
        })
    -}}">
        <form method="post" action="{{-
            path('govwiki_admin_generator_copy', {
                environment: environment.slug
            })
        -}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Ftp connection parameters
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label for="host" class="control-label">Host</label>
                        <input class="form-control" id="host" name="form[host]">
                    </div>
                    <div class="control-group">
                        <label for="port" class="control-label">Port</label>
                        <input class="form-control" id="port" name="form[port]">
                    </div>
                    <div class="control-group">
                        <label for="username" class="control-label">Username</label>
                        <input class="form-control" id="username" name="form[username]">
                    </div>
                    <div class="control-group">
                        <label for="password" class="control-label">Password</label>
                        <input class="form-control" id="password" name="form[password]">
                    </div>
                    <div class="control-group">
                        <label for="path" class="control-label">Path</label>
                        <input class="form-control" id="path" name="form[path]">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Copy</button>
                        <button class="btn btn-danger" id="generator-close" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    {#<div id="modal-import" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4 class="modal-title">Confirm</h4></div>
                <div class="modal-body">
                    {{- render(controller('GovWikiAdminBundle:Environment:fin', {
                        'environment': environment.slug
                    })) -}}
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <a id="import-confirm" class="btn btn-success">
                            Import
                        </a>
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
{% endblock panel_body %}

{% block panel_footer %}
{% endblock panel_footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        {% if environment.locales|length == 1 %}
            CKEDITOR.replace('content_greetingText');
            CKEDITOR.replace('content_bottomText');
        {% endif %}

        $(function() {
            var generatorModal = $('#modal-generator');
            var loader = generatorModal.find('.loader');
            var infoView = generatorModal.find('.generator-info');
            var statusView = generatorModal.find('.generator-status');

            var generatorUrl = '{{- path('govwiki_admin_generator_html', {
                environment: environment.slug
            }) -}}';

            var interval;
            var isRunPreviously = false;
            var isScheduled = false;

            /*$('#import-fin-stmt').click(function () {
                $('#modal-import').modal('show');
            });*/

            $('#import-confirm').click(function () {
                $('form', '#modal-import').submit();
            });

            generatorModal.find('#generator-close').click(function () {
                if (interval) {
                    clearInterval(interval);
                    interval = null;
                }
            });

            $('#generator-show').click(function() {
                $.ajax({
                    url: generatorUrl,
                    data: {
                        shouldRun: ! isRunPreviously && ! isScheduled
                    }
                })
                    .done(function (queue) {
                        generatorModal.modal('show');
                        renderGeneratorModal(queue);
                        isScheduled = true;
                        initializeRenderLoop();
                    })
                    .fail(function (jqXHR) {
                        console.log(jqXHR);
                    });
            });

            function initializeRenderLoop() {
                if (interval) {
                    return;
                }

                interval = setInterval(function () {
                    $.ajax({
                        url: generatorUrl,
                        data: {
                            shouldRun: ! isRunPreviously && ! isScheduled
                        }
                    })
                        .done(function (status) {
                            renderGeneratorModal(status)
                        })
                        .fail(function (jqXHR) {
                            console.log(jqXHR);
                        });
                }, 5000);
            }

            function renderGeneratorModal(queue) {
                var remain;
                var percentage;
                var isRun = _.some(queue, { run: true });

                if (isRunPreviously && ! isRun) {
                    if (interval) {
                        clearInterval(interval);
                        interval = null;
                    }
                    generatorModal.modal('hide');
                    isScheduled = false;
                    isRunPreviously = false;
                    return;
                }

                isRunPreviously = isRun;

                if (! isRun) {
                    infoView.show();
                    statusView.hide();
                } else {
                    infoView.hide();
                    statusView.show();

                    _.forEach(queue, function (status, entity) {
                        if (status.run === false) {
                            status.waits = status.total;
                        }

                        remain = status.total - status.waits
                            + status.processeds;
                        percentage = Math.ceil((remain * 100)
                            / status.total);

                        // Update data
                        statusView
                            .find('#' + entity)
                            .find('.progress-bar')
                            .attr({
                                'aria-valuenow': remain,
                                'aria-valuemax': status.total
                            })
                            .css('width', percentage + '%')
                            .text(percentage + '%');
                    });
                }
            }

            var copyModal = $('#modal-copy');

            $('#copy-show').click(function () {
                $.ajax({
                    url: copyModal.data('checkUrl')
                })
                    .done(function(isLocked) {
                        if (isLocked) {
                            alert('This command already run.');
                        } else {
                            copyModal.modal('show');
                        }
                    });
            });

            copyModal.find('form').submit(function (event) {
                var $this = $(this);

                event.preventDefault();
                event.stopPropagation();

                $.ajax({
                    url: $this.attr('action'),
                    method: 'POST',
                    data: $this.serialize()
                })
                    .done(function() {
                        alert('Command sheduled!');
                    })
                    .fail(function() {
                        alert('Command not sheduled due to some error!');
                    })
                    .always(function() {
                        copyModal.modal('hide')
                    })

            });
        });
    </script>
{% endblock javascripts %}
