{{ knp_pagination_render(list) }}

<table class="table table-hover" data-entity-type="Contribution">
    <tr>
        <th class="sortable">
            {{- knp_pagination_sortable(list, 'Election year', 'Contribution.electionYear') -}}
            <i class="icon"></i>
        </th>
        <th class="sortable">
            {{- knp_pagination_sortable(list, 'Name of contributor', 'Contribution.contributorName') -}}<i class="icon"></i>
        </th>
        <th>Ind. Exp. Desc.</th>
        <th class="sortable">
            {{- knp_pagination_sortable(list, 'Amount', 'Contribution.contributionAmount') -}}<i class="icon"></i>
        </th>
        <th class="sortable">
            {{- knp_pagination_sortable(list, 'Contributor Type', 'Contribution.contributorType') -}}<i class="icon"></i>
        </th>
        <th></th>
    </tr>

    {% for contribution in list %}
        <tr data-id="{{contribution.id}}" {%
        if (contribution.request is not null) and (contribution.request.status == 'pending') -%}
            style="background: rgba(80, 0, 0, 0.1)"
        {%- endif -%}
            >

            <td data-election-year="{{contribution.electionYear}}">
                <a href="javascript:void(0);" data-type="text" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{contribution.electionYear}}<span class="glyphicon glyphicon-pencil edit"></span></a>
            </td>
            <td data-contributor-name="{{contribution.contributorName}}">
                <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{contribution.contributorName}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-independent-expenditure-desc="{{contribution.independentExpenditureDesc}}">
                <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{contribution.independentExpenditureDesc}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-contribution-amount="{{contribution.contributionAmount}}">
                <a href="javascript:void(0);" data-type="text" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{contribution.contributionAmount|number_format}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-contributor-type="{{contribution.contributorType}}">
                <a href="javascript:void(0);" data-type="select" data-pk="1" data-source="{'Candidate Committee': 'Candidate Committee'}, {'Corporate': 'Corporate', 'Individual': 'Individual', 'Political Party': 'Political Party', 'Political Action Committee': 'Political Action Committee', 'Self': 'Self', 'Union': 'Union', 'Other': 'Other'}"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{contribution.contributorType}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td>

            </td>

        </tr>

    {% else %}

    <tr>
        <td colspan="6" align="center">
            <p style="font-size:18px; margin: 0;">No information at this time. Please check back later.</p>
        </td>
    </tr>

{% endfor %}

    <tr class="add_action">
        <td colspan="6" class="add">
            Add new Contribution
            <span class="glyphicon glyphicon-plus"></span>
        </td>
    </tr>

</table>

{{ knp_pagination_render(list) }}
