{{ knp_pagination_render(list) }}
<table class="table" width="100%" data-entity-type="Legislation"
       xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <tr>
        <th class="column__date">
            <div class="sortable">
                {{- knp_pagination_sortable(list, 'Date', 'Legislation.dateConsidered') -}}<i class="icon"></i>
            </div>

            <div class="sortable">
                {{- knp_pagination_sortable(list, 'Category', 'IssueCategory.name') -}}<i class="icon"></i>
            </div>

            <div>Bill Number</div>
        </th>
        <th class="column__title">Title of Measure</th>
        <th>Summary of Measure</th>
        <th class="column__vote">How official voted</th>
        <th>Did official sponsor?</th>
        <th></th>
    </tr>

    {% for vote in list %}
        {% set hasComment = vote.comments is defined and vote.comments|length > 0 %}
        <tr data-id="{{vote.legislation.id}}" {%
        if (vote.legislation.request is not null) and (vote.legislation.request.status == 'pending') -%}
            style="background: rgba(80, 0, 0, 0.1)"
        {%- endif -%}{%- if hasComment %} class="row__has_comment"{%- endif -%}
            >

            <td>
                <div data-date-considered="{{vote.legislation.dateConsidered | date("m/d/Y") }}">
                    <a href="javascript:void(0);" data-type="date" data-pk="1"  data-format="mm/dd/yyyy"
                       data-placeholder="Please edit" data-title="Please edit"
                       class="editable editable-pre-wrapped editable-click" data-original-title=""
                       title="">{{vote.legislation.dateConsidered | date("m/d/Y") }}</a>
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>
                <div data-issue-category="{{vote.legislation.issueCategory.name}}" data-no-editable>{{vote.legislation.issueCategory.name}}</div>
                <div data-gov-assigned-number="{{ vote.legislation.govAssignedNumber }}">
                    <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                       data-placeholder="Please edit" data-title="Please edit"
                       class="editable editable-pre-wrapped editable-click" data-original-title=""
                       title="">{{ vote.legislation.govAssignedNumber }}</a>
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>
            </td>

            <td data-name="{{vote.legislation.name}}">
                <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{vote.legislation.name}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-summary="{{vote.legislation.summary}}">
                <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{vote.legislation.summary}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-vote="{{vote.vote}}">
                <a href="javascript:void(0);" data-type="select" data-source="{'Yes': 'Yes', 'No': 'No', 'Abstain': 'Abstain', 'Absence': 'Absence', 'Not in Office': 'Not in Office'}" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{vote.vote}}</a>
                <span data-id="{{vote.id}}" class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-did-elected-official-propose-this="{{ vote.didElectedOfficialProposeThis ? 'Yes' : 'No' }}" align="center">
                <a href="javascript:void(0);" data-type="select" data-source="{'0': 'No', '1': 'Yes'}" data-pk="1" data-placeholder="Please edit" data-title="Please edit" class="editable editable-pre-wrapped editable-click" data-original-title="" title="">{{ vote.didElectedOfficialProposeThis ? 'Yes' : 'No' }}</a>
                <span data-id="{{vote.id}}" class="glyphicon glyphicon-pencil edit"></span>
            </td>

            {%- if (vote.legislation.request is not null) and (vote.legislation.request.status == 'pending') -%}
                <td>{{ vote.legislation.request.creator.username }}</td>
            {%- else -%}
                <td data-no-editable><span class="disqus-comment-count vote" id="{{vote.electedOfficial.id}}_v{{vote.id}}" data-legislation-name="{{vote.legislation.name}}" data-disqus-identifier="{{vote.electedOfficial.id}}_v{{vote.id}}">0</span></td>
            {%- endif -%}

        </tr>

        {% if hasComment %}
            <tr class="vote-comment">
                <td colspan="6">
                    <strong class="vote-comment-static">Elected Official Comment:</strong>
                    {{ vote.comments|first.body|raw }}
                </td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6" align="center">
                <p style="font-size:18px; margin: 0;">No information at this time. Please check back later.</p>
            </td>
        </tr>
    {% endfor %}

    <tr class="add_action">
        <td colspan="6" class="add">
            Add new Vote
            <span class="glyphicon glyphicon-plus"></span>
        </td>
    </tr>
</table>

{{ knp_pagination_render(list) }}
