{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}

{% block title %}{{ parent() }} - Environments{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main') }}
{% endblock breadcrumb %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

            {# Panel #}
            <div class="panel panel-primary">

                {# Header #}
                <div class="panel-heading">
                    <h3 class="panel-title">Environment list</h3>
                </div>

                {# Body #}
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Environments</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            {{ knp_pagination_render(environments) }}

                            <table id="environments-list" class="table table-bordered text-center">
                                <tr>
                                    <th>Name</th>
                                    <th>Domain</th>
                                    <th class="favicon">Favicon</th>
                                    <th class="actions">Actions</th>
                                </tr>
                                {%- for environment in environments -%}
                                    <tr>
                                        <td>
                                            <a href="{{ path('govwiki_admin_main_show',
                                                { environment: environment.slug}) }}">
                                                {{ environment.name }}
                                            </a>
                                        </td>
                                        <td>{{ environment.domain }}</td>
                                        <td>
                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                                                <form data-environment="{{ environment.slug }}" action="{{ path('govwiki_admin_main_faviconload') }}" class="upload-favicon-form" enctype="multipart/form-data">
                                                    <input type="hidden" name="environment" value="{{ environment.slug }}" />
                                                    <input class="upload-favicon" type="file" name="upload-favicon" />
                                                </form>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <button class="btn btn-danger btn-delete" data-url="{{- path('govwiki_admin_main_remove', { environment: environment.slug }) -}}" data-description="Delete environment with all governments?">
                                                    Delete
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {%- endfor -%}
                            </table>

                            {{ knp_pagination_render(environments) }}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary" href="{{ path('govwiki_admin_wizard_start') }}">
                                    Add environment
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('.upload-favicon-form').submit(function(e) {
            e.preventDefault();

            $form = $(this);
            $formData = new FormData($form.get(0));

            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                contentType: false,
                processData: false,
                data: $formData,
                dataType: 'json',
                success: function (data) {
                    if (data.error) {
                        alert(data.message);
                    } else {
                        location.reload();
                    }
                }
            });
        });

        $('.upload-favicon').change(function() {
            $(this).submit();
        });

        $('.upload-favicon-form').each(function() {
            var el = $(this);
            var src = '/img/'+el.attr('data-environment')+'/favicon.ico';
            $.ajax({
                url: src,
                type:'HEAD',
                error: function()
                {
                    //console.log('File not found');
                },
                success: function()
                {
                    el.before('<img class="favicon-image" src="'+src+'" />');
                }
            });
        });
    </script>
{% endblock %}