{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}

{% block title %}{{ parent() }} - Environments{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

            {# Panel #}
            <div class="panel panel-primary">

                {# Header #}
                <div class="panel-heading">
                    <h3 class="panel-title">Environment list</h3>
                </div>

                {# Body #}
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Environments</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            {{ knp_pagination_render(environments) }}

                            <table class="table table-bordered text-center">
                                <tr>
                                    <th>Name</th>
                                    <th>Domain</th>
                                    <th class="actions">Actions</th>
                                </tr>
                                {%- for environment in environments -%}
                                    <tr>
                                        <td>
                                            <a href="{{ path('govwiki_admin_main_show',
                                                { environment: environment.slug}) }}">
                                                {{ environment.name }}
                                            </a>
                                        </td>
                                        <td>{{ environment.domain }}</td>
                                        <td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <button class="btn btn-danger delete" data-url="{{-
                                                    path('govwiki_admin_main_remove',
                                                    { environment: environment.slug }) -}}">
                                                    Delete
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {%- endfor -%}
                            </table>

                            {{ knp_pagination_render(environments) }}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary" href="{{ path('govwiki_admin_wizard_start') }}">
                                    Add environment
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </div>

            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div id="modal-delete" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"><h4 class="modal-title">Confirm</h4></div>
                            <div class="modal-body">Delete environment with all governments?</div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <a id="delete-confirm" class="btn btn-danger">
                                        Delete
                                    </a>
                                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('.delete').click(function(){
                console.log('asdas');
                $('#delete-confirm').attr('href', $(this).attr('data-url'));
                $('#modal-delete').modal('show');
            });
        });
    </script>
{% endblock javascripts %}
