{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}

{% block title %}{{ parent() }} - New environment.{% endblock %}

{% block body %}

    <div class="container">

        {# Panel #}
        <div class="panel panel-primary">

            {# Header #}
            <div class="panel-heading">
                <h3 class="panel-title">Environment info</h3>
            </div>

            {# Body #}
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">

                        <h3>New environment</h3>
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button class="btn btn-primary" type="submit">Add new</button>
                            <a class="btn btn-danger" href="{{ path('govwiki_admin_main_home') }}">
                                Cancel
                            </a>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
