{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% set map = environment.map %}

{% block title %}{{ parent() }} - {{ environment.name }}{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{ macro.breadcrumbElement(environment.name|capitalize ~' environment') }}
{% endblock breadcrumb %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {# Panel #}
            <div class="panel panel-primary">

                {# Header #}
                <div class="panel-heading">
                    <h3 class="panel-title">Environment info</h3>
                </div>

                {# Body #}
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="{{-
                                    path('govwiki_admin_template_index')
                                    -}}">
                                        Edit templates
                                    </a>
                                </li>

                                <li>
                                    <a href="{{-
                                    path('govwiki_admin_localization_index') -}}">
                                        Localizations
                                    </a>
                                </li>

                                <li>
                                    <a href="{{-
                                    path('govwiki_admin_style_index') -}}">
                                        Edit styles
                                    </a>
                                </li>

                                <li>
                                    <a href="{{-
                                    path('govwiki_admin_map_edit') -}}">
                                        Edit map
                                    </a>
                                </li>

                                <li>
                                    <a href="{{-
                                    path('govwiki_admin_format_list') -}}">
                                        Edit formats
                                    </a>
                                </li>

                                {#<li>
                                    <a class="btn btn-default" href="{{-
                                    path('govwiki_admin_main_update') -}}">
                                        Update CartoDB
                                    </a>
                                </li>#}
                            </ul>

                            <h6>Managers</h6>
                            <ul>
                                {% for user in environment.users %}
                                    {% if user.hasRole('ROLE_MANAGER') %}
                                        <li>
                                            <a href="{{ path('govwiki_admin_user_edit', {'id': user.id}) }}">{{ user }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-md-9">
                            <h3>{{ environment.name|capitalize }} environment</h3>

                            <div>
                                <b>Status:</b>&nbsp;
                                {%- if environment.enabled -%}
                                    <a href="{{- path('govwiki_admin_main_disable',
                                    { environment: environment.slug }) -}}"
                                       class="text-success">Enabled</a>
                                {%- else -%}
                                    <a href="{{- path('govwiki_admin_main_enable',
                                    { environment: environment.slug }) -}}"
                                       class="text-danger">Disabled</a>
                                {%- endif -%}
                            </div>
                            <div>
                                <b>Map:</b>&nbsp;
                                {%- if map and map.isCreated -%}
                                    <span class="text-success">Created</span>&nbsp;
                                {%- else -%}
                                    <span class="text-danger">Not created</span>
                                {% endif %}
                            </div>
                            <div>
                                <b>Formats:</b>&nbsp;
                                {%- if environment.formats -%}
                                    <span class="text-success">Exists</span>
                                {%- else -%}
                                    <span class="text-danger">Not exists</span>
                                {%- endif -%}
                            </div>
                            <div>
                                {{ form_start(form) }}

                                {# Nav tabs #}
                                {% if environment.locales|length == 1 %}
                                    <ul class="nav nav-pills" role="tablist">
                                        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                                        <li role="presentation"><a href="#greeting-text" aria-controls="greeting-text" role="tab" data-toggle="tab">Greeting text</a></li>
                                        <li role="presentation"><a href="#bottom-text" aria-controls="bottom-text" role="tab" data-toggle="tab">Bottom text</a></li>
                                    </ul>
                                {% endif %}

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="general">
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.domain) }}
                                        {{ form_row(form.title) }}
                                        {{ form_row(form.adminEmail) }}
                                        {{ form_row(form.defaultLocale) }}
                                        {{ form_row(form.file) }}
                                        {{ form_row(form.logoHref) }}
                                        {{ form_row(form.subscribable, {'label': 'Users can subscribe to governments of the environment'}) }}
                                    </div>

                                    {% if environment.locales|length == 1 %}
                                        <div role="tabpanel" class="tab-pane" id="greeting-text">
                                            <div class="form-group">
                                                <label class="control-label required" for="greetingText">
                                                    Greeting text
                                                </label>
                                                <textarea id="content_greetingText" name="greetingText" class="environment-content">
                                                    {{ greetingText }}
                                                </textarea>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="bottom-text">
                                            <div class="form-group">
                                                <label class="control-label required" for="bottomText">
                                                    Bottom text
                                                </label>
                                                <textarea id="content_bottomText" name="bottomText" class="environment-content">
                                                    {{ bottomText }}
                                                </textarea>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="btn-group pull-left">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <button type="button" data-description="Delete environment with all governments?" class="btn btn-danger btn-delete" data-url="{{ path('govwiki_admin_main_remove', {environment: environment.name}) }}">
                                        Delete
                                    </button>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('content_greetingText');
        CKEDITOR.replace('content_bottomText');
    </script>
{% endblock javascripts %}