{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}

{% block title %}{{ parent() }} - style{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{
        macro.breadcrumbElement(
            admin_environment|capitalize ~' environment',
            'govwiki_admin_main_show',
            { 'environment': admin_environment }
        )
    }}
    {{ macro.breadcrumbElement('Styles') }}
{% endblock breadcrumb %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

            {# Panel #}
            <div class="panel panel-primary">

                {# Header #}
                <div class="panel-heading">
                    <h3 class="panel-title">Environment list</h3>
                </div>

                {# Body #}
                <div class="panel-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-default" href="{{ path('govwiki_admin_main_show') }}">
                        Back
                    </a>
                    {{ form_end(form) }}
                </div>

            </div>

        </div>
    </div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {# Bootstrap colorpicker #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function() {
            $('.color-picker').colorpicker({
                format: 'hex',
                align: 'left'
            });
        })
    </script>
{% endblock javascripts %}
