{% extends "GovWikiAdminBundle:Layout:wizard.html.twig" %}

{% block breadcrumb %}
    {{- parent() -}}
    {{- macro.breadcrumbElement('Importing data') -}}
{% endblock breadcrumb %}

{% block panel_title %}
    Importing data
{% endblock panel_title %}

{% block panel_body %}
    <div class="text-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}

         <a class="pull-left btn btn-danger" href="{{ path('govwiki_admin_wizard_cancel') }}">Cancel</a>
        <button class="btn btn-primary pull-right" data-loader
                data-loader-message="Importing data ..." type="submit">
            Next
        </button>
        {{ form_end(form) }}
    </div>
{% endblock panel_body %}