{% extends "GovWikiAdminBundle:Layout:wizard.html.twig" %}

{% import "GovWikiAdminBundle:Layout:macro.html.twig" as macro %}

{% block breadcrumb %}
    {{- parent() -}}
    {{- macro.breadcrumbElement('Environment') -}}
{% endblock breadcrumb %}

{% block panel_title %}
    Environment
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.domain) }}
    {{ form_row(form.title) }}
    {{ form_row(form.logoHref) }}
    {{ form_row(form.mainImageFile) }}
    {{ form_row(form.file) }}
    {{ form_row(form.adminEmail) }}
    {{ form_row(form.subscribable, {'label': 'Users can subscribe to governments of the environment'}) }}

    <div class="form-group">
        <label class="control-label required" for="greetingText">
            Greeting text
        </label>
        <textarea id="content_greetingText" name="greetingText" class="environment-content"></textarea>
    </div>

    <div class="form-group">
        <label class="control-label required" for="bottomText">
            Bottom text
        </label>
        <textarea id="content_bottomText" name="bottomText" class="environment-content"></textarea>
    </div>

    <a class="pull-left btn btn-danger" href="{{ path('govwiki_admin_wizard_cancel') }}">
        Cancel
    </a>
    <div class="pull-right btn-group">
        <button class="btn btn-primary" type="submit">Next</button>
    </div>
    {{ form_end(form) }}
{% endblock panel_body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('content_greetingText');
        CKEDITOR.replace('content_bottomText');
    </script>
{% endblock javascripts %}