{% extends "GovWikiAdminBundle:Layout:wizard.html.twig" %}

{% import "GovWikiAdminBundle:Layout:macro.html.twig" as macro %}

{% block breadcrumb %}
    {{- parent() -}}
    {{- macro.breadcrumbElement('Environment', 'step1') -}}
    {{- macro.breadcrumbElement('Map') -}}
{% endblock breadcrumb %}

{% block panel_title %}
    Map
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" id="without-map" name="withoutMap" value="1"> Without map</label>
            </div>
        </div>
        {{ form_widget(form) }}

        <a class="pull-left btn btn-danger" href="{{ path('govwiki_admin_wizard_cancel') }}">Cancel</a>
        <div class="pull-right btn-group">
            <a class="btn btn-default" href="{{ back_url }}">Back</a>
            <button class="btn btn-primary" type="submit">Next</button>
        </div>

    {{ form_end(form) }}
{% endblock panel_body %}
