{% extends "GovWikiAdminBundle:Environment:layout.html.twig" %}

{% block title %}{{ parent() }} - legend{% endblock title %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{ macro.breadcrumbElement('Legend') }}
{% endblock breadcrumb %}

{% block panel_title %}
    {{ environment.name }} legend
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    <table class="table table-bordered" id="legend-edit">
        <thead>
        <tr>
            <th>Alt Type</th>
            <th>Shape</th>
            <th width="25%">Title</th>
            <th>Color</th>
            <th>Order</th>
        </tr>
        </thead>
        <tbody>

        {% for name, children in form.children %}
            <tr>
                {% if '_token' != name %}
                    <td>{{ form_label(children) }}</td>

                    {% if children.children.shape is defined %}
                        <td>{{ form_widget(children.shape) }}</td>
                        <td>{{ form_widget(children.title) }}</td>
                    {% else %}
                        <td colspan="2">
                            {{ form_widget(children.title) }}
                        </td>
                    {% endif %}
                    <td>{{ form_widget(children.color) }}</td>
                    <td>{{ form_widget(children.order) }}</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <button type="submit" class="btn btn-success">
        Update
    </button>
    {{ form_end(form) }}

    <div class="modal fade" id="shape" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New shape</h4>
                </div>
                <div class="modal-body">
                    {{- render(controller(
                        'GovWikiAdminBundle:Legend:shape',
                        { 'environment': environment.slug } )) -}}
                    <div class="modal-footer">
                        <button type="button" id="new-shape" class="btn btn-success">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock panel_body %}

{% block stylesheets %}
    {{ parent() }}
    {# Bootstrap colorpicker #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {%- javascripts
        '@GovWikiAdminBundle/Resources/public/js/Legend/edit.js'
        output='js/admin_legend.js'
    -%}
    <script src="{{ asset_url }}"></script>
    {%- endjavascripts -%}

{% endblock javascripts %}