<div class="panel-body">
    {{ form_start(form, {'attr': {'class': 'ajax-form'}, 'action': action}) }}
        {{ form_row(form.nameOfEndorser) }}
        {{ form_row(form.endorserType) }}
        {{ form_row(form.electionYear) }}
        {{ form_row(form.issueCategory) }}
        <input type="submit" class="btn btn-primary">
    {{ form_end(form) }}
</div>
