{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - Create elected official{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        'Elected Officials',
        'govwiki_admin_electedofficial_index',
        { 'environment': environment.slug }
    ) -}}
    {{ macro.breadcrumbElement('New elected official') }}
{% endblock breadcrumb %}

{% block panel_title %}
    New elected official
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            {{ form_row(form.fullName) }}
            {{ form_row(form.government) }}
            {{ form_row(form.displayOrder) }}
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            {{ form_row(form.title) }}
            {{ form_row(form.emailAddress) }}
            {{ form_row(form.telephoneNumber) }}
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            {{ form_row(form.photoUrl) }}
            {{ form_row(form.bioUrl) }}
            {{ form_row(form.termExpires) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary">
        </div>
    </div>
    {{ form_end(form) }}
{% endblock panel_body %}

{% block stylesheets %}
    {{- parent() -}}
    <link href="{{- asset('bundles/govwikiadmin/css/select2.min.css') -}}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    {{- parent() -}}
    <script src="{{- asset('bundles/govwikiadmin/js/select2.min.js') -}}"></script>
    <script>
        $(function() {
            $('#govwiki_dbbundle_electedofficial_government').select2({
                minimumInputLength: 3,
                type: 'GET',
                ajax: {
                    delay: 750,
                    url: '{{- path('govwiki_api_v1_government_search') -}}',
                    data: function (params) {
                        return {
                            search: params.term
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                },
                templateResult: function (data) {
                    return data.name;
                },
                templateSelection: function (data) {
                    return data.name;
                }
            });
        })
    </script>
{% endblock javascripts %}
