{% extends "GovWikiAdminBundle:Environment:layout.html.twig" %}

{% block title %}{{ parent() }} - style{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        type|capitalize ~ ' styles',
        'govwiki_admin_style_index',
        {
            'environment': environment.slug,
            'type': type
        }
    ) -}}
    {{ macro.breadcrumbElement('Import') }}
{% endblock breadcrumb %}

{% block panel_title %}
    {{ environment.name }} - import {{ type }} styles
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Import</button>
    <a class="btn btn-default" href="{{- path(
        'govwiki_admin_style_index',
        {
            'environment': environment.slug,
            'type': type
        }
    ) -}}">Back</a>
    {{ form_end(form) }}
{% endblock panel_body %}