{% extends "GovWikiAdminBundle:Environment:layout.html.twig" %}

{% block title %}{{ parent() }} - {{ type }} styles{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{ macro.breadcrumbElement(type|capitalize ~ ' styles') }}
{% endblock breadcrumb %}

{% block panel_title %}
    {{ environment.name }} {{ type }} styles
{% endblock panel_title %}

{% block panel_body %}
    <div class="buttons pull-right">
        <a class="btn btn-default" href="{{- path(
            'govwiki_admin_style_import',
            {
                'environment': environment.slug,
                'type': type
            }
        ) -}}">
            Import
        </a>
        <a class="btn btn-default" href="{{- path(
            'govwiki_admin_style_export',
            {
                'environment': environment.slug,
                'type': type
            }
        ) -}}">
            Export
        </a>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" id="new-style" class="btn btn-success">New style</button>
    <a class="btn btn-default" href="{{- path(
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}">
        Back
    </a>
    {{ form_end(form) }}

    <div id="modal-window" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New style</h4>
                </div>

                <div class="modal-body">
                    <form id="style-form">

                        {# Style display name. #}
                        <div class="form-group">
                            <label for="name" class="control-label">
                                Name
                            </label>
                            <input class="form-control" type="text" id="name" name="name" required="required">
                        </div>

                        {# CSS selector. #}
                        <div class="form-group">
                            <label for="class_name">CSS selector</label>
                            <input class="form-control" type="text" id="class_name" name="class_name" required="required">
                        </div>

                        {# Foreground color. #}
                        <div class="form-group">
                            <label for="foreground">Color</label>
                            <div id="foreground-group" class="input-group color-picker colorpicker-element">
                                <span class="input-group-addon"><i></i></span>
                                <input type="text" id="foreground" name="foreground" required="required" class="form-control" value="#000000">
                            </div>
                        </div>

                        {# Background color. #}
                        <div class="form-group">
                            <label for="background">Background</label>
                            <div id="background-group" class="input-group color-picker colorpicker-element">
                                <span class="input-group-addon"><i></i></span>
                                <input type="text" id="background" name="background" required="required" class="form-control" value="#000000">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="add-new-style" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
{% endblock panel_body %}


{% block stylesheets %}
    {{ parent() }}
    {# Bootstrap colorpicker #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            var $modalWindow = $('#modal-window');
            var $collectionContainer = $('#govwiki_admin_form_styles_styles');
            var prototype = $collectionContainer.data('prototype');
            var count = $collectionContainer.children().length;

            $('.color-picker').colorpicker({
                format: 'hex',
                align: 'left'
            });

            function getFormValues() {
                var $newStyleForm = $('#style-form');
                var data = $newStyleForm.serializeArray();

                // Convert array to object.
                return data.reduce(function (map, object) {
                    map[object.name] = object.value;
                    return map;
                }, {});
            }

            $modalWindow.on('hidden.bs.modal', function modalHide() {
                document.getElementById('style-form').reset();
                $modalWindow.find('.color-picker').colorpicker('setValue', '');
            });
            /*
                Add new style.
              */
            $('#new-style').click(function () {
                $('#add-new-style')
                    .text('Add')
                    .off('click')
                    .click(function (){
                        var data;
                        var row;

                        data = getFormValues();

                        // Add new row to collection form.
                        row = prototype
                                .replace(/__property_name__/g, data.name)
                                .replace(/__name__/g, count)
                            // Change property display name.
                                .replace(/(\[name\]")/, '$1 value="'+ data.name +'"')
                            // Change property class name.
                                .replace(/(\[className\]")/, '$1 value="'+ data.class_name +'"')
                            // Change foreground color.
                                .replace(/(\[color\]".*?value=")[^"]*"/, '$1'+ data.foreground + '"')
                            // Change background color.
                                .replace(/(\[background\]".*?value=")[^"]*"/, '$1'+ data.background + '"');
                        count++;
                        $collectionContainer.append(row);

                        $modalWindow.modal('hide');
                        $('.color-picker').colorpicker({
                            format: 'hex',
                            align: 'left'
                        });
                    });

                $modalWindow.modal('show');
            });

            /*
                Remove styles.
             */
            $(document).on('click', '.style-remove-button', function() {
                $(this).closest('.form-group').remove();
            });

            /*
                Edit styles.
             */
            $(document).on('click', '.style-edit-button', function() {
                var data = {};
                var formGroup = $(this).closest('.form-group');
                var formInputs = formGroup.find('input');

                function getInputName(input) {
                    var name = input.name;
                    return name.substring(name.lastIndexOf('[') + 1, name.length - 1);
                }

                formInputs.each(function (idx, element) {
                    var name = getInputName(element);
                    data[name] = element.value;
                });

                $modalWindow.find('#name').val(data.name);
                $modalWindow.find('#class_name').val(data.className);
                $modalWindow.find('#foreground-group')
                    .colorpicker('setValue', data.color);
                $modalWindow.find('#background-group')
                    .colorpicker('setValue', data.background);

                var $button = $modalWindow.find('#add-new-style');

                /*
                    Set Update callback.
                 */
                $button
                    .text('Update')
                    .off('click')
                    .click(function () {
                        var data;
                        var header;

                        data = getFormValues();

                        formInputs.each(function (idx, element) {
                            var name = getInputName(element);
                            var $element = $(element);

                            switch (name) {
                                case 'name':
                                    element.value = data.name;
                                    break;

                                case 'className':
                                    element.value = data.class_name;
                                    break;

                                case 'color':
                                    $element.parent().colorpicker('setValue', data.foreground);
                                    break;

                                case 'background':
                                    $element.parent().colorpicker('setValue', data.background);
                                    break;
                            }
                        });

                        header = formGroup.find('h4').html();
                        header = header.substring(header.indexOf('<'), header.length);
                        formGroup.find('h4').html(data.name + ' ' + header);

                        $modalWindow.modal('hide');
                    });

                $modalWindow.modal('show');
            });
        })
    </script>
{% endblock javascripts %}
