{% extends "GovWikiMobileBundle:Layout:main.html.twig" %}

{% block main %}
    <!--start section.introduction-->
    <section class="introduction mapController">
        <div class="row_caption">
            <h1 class="caption">{{ environment.name }}</h1>
        </div>

        <div class="row__sub_caption">
            <h5 class="sub_caption">{{ 'home.sub.caption'|trans }}</h5>
            <div class="group_select">
                {% if years is defined and years|length > 1 %}
                    <select id="year-selector" class="select_years">
                        {%- if (app.request.attributes.get('_route') ==
                            'map') -%}
                        <option value="latest" {% if (currentYear == 'latest') -%}selected{%- endif -%}>
                            {%- endif -%}
                            {%- spaceless -%}
                                Latest
                            {%- endspaceless -%}
                        </option>
                        {% for year in years %}
                            <option value="{{ year }}" {%-
                                if (currentYear == year)
                            -%}
                            selected
                                    {%- endif -%}>
                                {{- year -}}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>

        <p class="description">{{ 'home.description'|trans }}</p>

        {# Typeahead Search #}

        {% if hasElectedOfficials %}
            {#

                Current environment has elected officials in government.
                Show not only government search but also elected official
                search.

            #}

            <div class="row__group_search typeahead_wrap">
                <div class="group_search">

                    <span class="title">{{'home.search.map.form'|trans}}</span>
                    <input id="search_government" type="text" placeholder="{{ 'map.government.name'|trans }}" class="typeahead_government form-control">
                    <span class="line"></span>
                </div>
            </div>

            <div class="row__group_search typeahead_wrap">
                <div class="group_search">
                    <span class="title">{{'home.search.map.form'|trans}}</span>
                    <input id="search_elected" type="text" placeholder="Loading the list of elected officials" class="typeahead_elected form-control">
                    <span class="line"></span>
                </div>
            </div>
        {% else %}
            {#

                Environment hasn't any elected official, show only
                government search.

            #}

            <div class="row__group_search typeahead_wrap">
                <div class="group_search">

                    <span class="title">{{'home.search.map.form'|trans}}</span>
                    <input id="search_government" type="text" placeholder="{{ 'map.government.name'|trans }}" class="typeahead_government form-control">
                    <span class="line"></span>
                </div>
            </div>

        {% endif %}

        {# Map wrapper #}
        <div id="map_wrap">

            {# Preloader #}
            <div class="loader"></div>

            {# Notification message#}
            <div class="mapOnProcessing">
                <h5>Please wait, map recently created</h5>
                <h5>Please refresh page later</h5>
            </div>

            {# Legend #}
            {% if 'altTypes' in environment.map.legendTypes %}
                <ul id='menu' class="collapse in">
                </ul>
            {% endif %}

            {# Map #}
            <div id="map"></div>

        </div>

    </section>
    <!--end section.introduction-->
{% endblock %}


{# Stylesheets #}
{% block stylesheets %}

    {{parent()}}

    {% stylesheets '@GovWikiMobileBundle/Resources/public/css/map.scss' filter='scss, cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}


{# Javascripts #}
{% block javascripts %}

    {{parent()}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

    <script>
        window.gw.map = '{{ map | escape('js') }}';
        window.gw.environment = '{{ environment|cartoDbDataset }}';
        window.gw.urls = {};
        window.gw.urls.search = '{{ path('govwiki_api_v1_search_search') }}';
    </script>

    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb.js"></script>
    {#<script src="http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb.uncompressed.js"></script>#}
    <script src="/js/mobile/common.js"></script>
    <script src="/js/mobile/map.js"></script>

{% endblock %}
