{% extends "GovWikiMobileBundle:Layout:main.html.twig" %}

{% block main %}
    <section class="mapController">

        <div class="row">
            {# Typeahead Search #}

            {% if hasElectedOfficials %}

                <style>
                    .btn_custom {
                        width: 50%;
                        background-color: #588CA8;
                        float: left;
                        color: white;
                        vertical-align: middle;
                        text-align: center;
                    }

                    .btn_custom span {
                        line-height: 45px;
                    }

                    .btn_custom.enable {
                        background-color: #345369;
                    }

                    .legend_title {
                        background-color: #345369;
                        color: white;
                    }

                </style>

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        $('.legend_title').on('click', function () {
                            $(this).find('.glyphicon').toggleClass('glyphicon-menu-down');
                            $(this).find('.glyphicon').toggleClass('glyphicon-menu-up');
                            $('#menu').collapse('toggle');
                        });
                    });
                </script>

                <div class="visible-xs col-xs-12" style="padding: 0">
                    <div class="image_custom" style="width: 100%; height: 150px; background-color: darkgray"></div>
                </div>

                <div class="visible-xs col-xs-12" style="padding: 0">
                    <div class="btn_custom">
                        <span>Comparative Search</span>
                    </div>
                    <div class="btn_custom enable">
                        <span>Single Item Search</span>
                    </div>
                </div>

                <div class="visible-xs col-xs-12">
                    <div class="search_custom" style="border: 1px solid darkgray; border-radius: 5px;padding: 5px;margin-top: 10px;margin-bottom: 10px;">
                        <label for="search_custom">
                            <i class="glyphicon glyphicon-search" style="margin-left: 5px;font-size: 1.5em;color: silver;vertical-align: middle;"></i>
                        </label>
                        <input type="text" style="border:none; outline:none;vertical-align: middle;width: 89%;" id="search_custom">
                    </div>
                </div>

                <div class="visible-xs col-xs-12">
                    <p style="color: #345369;text-align: center;">
                        Type city or official's name to get statistics or use map below
                    </p>
                </div>

                <div class="visible-xs col-xs-12" style="padding: 0">
                    <div class="legend_title">
                        <span style="margin-left: 10px;">SELECT OBJECTS TYPES TO SHOW</span>
                        <a data-toggle="collapse" href="#menu" aria-expanded="false" style="float: right;padding: 0 5px;">
                            <i class="glyphicon glyphicon-menu-up" style="color:white"></i>
                        </a>
                    </div>
                </div>

            {% endif %}

        </div>

        <div class="row">
            {{ include('@GovWikiMobile/Partial/Main/'~ mapEntity.position ~'.html.twig') }}
        </div>

    </section>

{% endblock %}


{# Stylesheets #}
{% block stylesheets %}

    {{parent()}}

    {% stylesheets '@GovWikiMobileBundle/Resources/public/css/map.scss' filter='scss, cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}


{# Javascripts #}
{% block javascripts %}

    {{parent()}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

    <script>
        window.gw.map = '{{ map | escape('js') }}';
        window.gw.environment = '{{ environment }}';
        window.gw.urls = {};
        window.gw.urls.search_government = '{{ govwiki_path('govwiki_api_v1_government_search') }}';
        window.gw.urls.search_elected = '{{ govwiki_path('govwiki_api_v1_electedofficial_search') }}';
    </script>

    <script src="/js/vendor/typeahead.js"></script>

    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb.js"></script>
    {#<script src="http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb.uncompressed.js"></script>#}
    <script src="/js/common.js"></script>
    <script src="/js/map.js"></script>

{% endblock %}
