{#

    Template for one category in tab.

#}
<table class="statistics-table">
{% for fieldName, format in fields %}

    {% if format is viewed(government) %}
        {% set value = government|applay_mask(fieldName, format) %}
        {% if not value is null %}
            <tr>
                {# Field name #}
                <td>
                    {{- ('format.'~format.field)|trans -}}
                    {#{{- format.name -}}#}
                    {% if format.helpText %}
                        {#<img src="{{ asset('bundles/govwikifrontend/img/help.png') }}" title="{{- format.helpText -}}">#}
                        <img src="{{ asset('bundles/govwikifrontend/img/help.png') }}" title="{{- ('format.'~format.field~'.help_text')|trans -}}">
                    {% endif %}
                </td>
                {# Field value #}
                <td>
                    {{- value|display|raw -}}
                    {% set rankName = "#{fieldName}_rank" %}
                    {%- if (government.ranks[rankName] is defined) -%}
                        <a class='rank'
                           data-field='{{- rankName -}}'
                           data-mask='{{- format.mask -}}'
                           title='{{- format.name }} Ranks'>
                            ({{- government.ranks[rankName][0] }} {{ 'preposition.of'|trans }} {{ government.ranks[rankName][1] -}})
                            {#({{- government.ranks[rankName][0] }} of {{ government.ranks[rankName][1] -}})#}
                        </a>
                    {%- endif -%}

                </td>
            </tr>
        {% endif %}
    {% endif %}

{% endfor %}
</table>
