{#

    Template for one category in tab.

#}
<table class="table table-striped statistics-table">
{% for fieldName, format in fields %}

    {% if format is viewed(government) %}
        {% set value = government|applay_mask(fieldName, format) %}
        {% if not value is null %}
            <tr class="statistics-row">
                {# Field name #}
                <td>
                    {{- ('format.'~format.field)|trans -}}
                    {#{{- format.name -}}#}
                    {% if ('format.'~format.field~'.help_text')|trans != 'format.'~format.field~'.help_text' %}
                        <img src="{{ asset('bundles/GovWikiMobile/img/help.png') }}"
                             data-toggle="tooltip"
                             data-placement="bottom"
                             title="{{- ('format.'~format.field~'.help_text')|trans -}}">
                    {% endif %}
                </td>
                {# Field value #}
                <td>
                    {{- value|display|raw -}}
                    {% set rankName = "#{fieldName}_rank" %}
                    {%- if (government.ranks[rankName] is defined) -%}
                        <a class='rank'
                           data-field='{{- rankName -}}'
                           data-mask='{{- format.mask -}}'
                           title='{{- ('format.'~format.field)|trans }}'>
                            ({{- government.ranks[rankName][0] }} {{ 'preposition.of'|trans }} {{ government.ranks[rankName][1] -}})
                            {#({{- government.ranks[rankName][0] }} of {{ government.ranks[rankName][1] -}})#}
                        </a>
                    {%- endif -%}

                </td>
            </tr>
        {% endif %}
    {% endif %}

{% endfor %}
</table>
