<div role="tabpanel" class="tab-pane active" id="General">
    <h3 class="text-center">General</h3>
    <div class="col-md-6">
        <h4>Main information</h4>
        {{ form_row(form.main.name) }}
        {{ form_row(form.main.altType) }}
        {% if form['environment'] is defined %}
            {{ form_row(form.main.environment) }}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Urls</h4>
        {{ form_row(form.main.wikipediaPageName) }}
        {{ form_row(form.main.latestAuditUrl) }}
        {{ form_row(form.main.secondaryLogoUrl) }}
    </div>
</div>