<div class="paginate">
    <div class="loader" style="display: none"></div>
    <div class="tab-pane-main">
        <div class="text-center">
            {{ knp_pagination_render(salaries) }}
        </div>

        <div class="col-sm-12">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="sortable text-center" style="vertical-align: middle">{{knp_pagination_sortable(salaries, 'Employee', 'Salary.employee') }}</th>
                        <th class="sortable text-center" style="vertical-align: middle">{{knp_pagination_sortable(salaries, 'Job title', 'Salary.job') }}</th>
                        <th class="sortable text-center" style="min-width: 95px;vertical-align: middle">{{knp_pagination_sortable(salaries, 'Base pay', 'Salary.base') }}</th>
                        <th class="sortable text-center" style="min-width: 95px;vertical-align: middle">{{knp_pagination_sortable(salaries, 'Overtime pay', 'Salary.overtime') }}</th>
                        <th class="sortable text-center" style="min-width: 95px;vertical-align: middle">{{knp_pagination_sortable(salaries, 'Other pay', 'Salary.other') }}</th>
                        <th class="sortable text-center" style="min-width: 95px;vertical-align: middle">{{knp_pagination_sortable(salaries, 'Benefits pay', 'Salary.benefits') }}</th>
                        <th class="sortable text-center" style="min-width: 95px;vertical-align: middle">{{knp_pagination_sortable(salaries, 'Total pay', 'Salary.total') }}</th>
                        <th class="sortable text-center" style="min-width: 95px;vertical-align: middle">{{knp_pagination_sortable(salaries, 'Total and benefits pay', 'Salary.totalAndBenefits') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for salary in salaries %}
                        <tr>
                            <td>{{ salary.employee }}</td>
                            <td>{{ salary.job }}</td>
                            <td class="text-right">$ {{ salary.base|number_format }}</td>
                            <td class="text-right">$ {{ salary.overtime|number_format }}</td>
                            <td class="text-right">$ {{ salary.other|number_format }}</td>
                            <td class="text-right">$ {{ salary.benefits|number_format }}</td>
                            <td class="text-right">$ {{ salary.total|number_format }}</td>
                            <td class="text-right">$ {{ salary.totalAndBenefits|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
