{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - new subscriber{% endblock title %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        'Governments',
        'govwiki_admin_government_index',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        government.name ~ ' subscribers',
        'govwiki_admin_subscribe_index',
        {
            'environment': environment.slug,
            'government': government.id
        }
    ) -}}
    {{- macro.breadcrumbElement('New subscriber') -}}
{% endblock breadcrumb %}

{% block panel_title %}
    New subscriber
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Add</button>
    <a href="{{- path('govwiki_admin_subscribe_index', {
        'environment': environment.slug,
        'government': government.id
    }) -}}" class="btn btn-danger">Cancel</a>
    {{ form_end(form) }}
{% endblock panel_body %}
