{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - edit format{% endblock title %}

{% block breadcrumb %}
    {{- macro.breadcrumbElement('Main', 'govwiki_admin_main_home') -}}
    {{-
    macro.breadcrumbElement(
    admin_environment|capitalize ~' environment',
    'govwiki_admin_main_show',
    { 'environment': admin_environment }
    )
    -}}
    {{- macro.breadcrumbElement('Governments', 'govwiki_admin_government_index') -}}
    {{-
        macro.breadcrumbElement('Edit ' ~ government.name, 'govwiki_admin_government_edit',
        { 'id': government.id })
    -}}
    {{- macro.breadcrumbElement('Subscribers') -}}
{% endblock breadcrumb %}

{% block body %}

    <div class="container">

        {# Panel #}
        <div class="panel panel-success">

            {# Header #}
            <div class="panel-heading">
                <h3 class="panel-title">Subscribers</h3>
            </div>

            {# Body #}
            <div class="panel-body">

                {{ form_start(form) }}
                {{ form_errors(form.message) }}
                {{ form_widget(form.message) }}
                <div>
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
                {{ form_end(form) }}


                {{- knp_pagination_render(subscribers) -}}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                {{- knp_pagination_sortable(subscribers, 'Name', 'User.username') -}}
                            </th>
                            <th>
                                {{- knp_pagination_sortable(subscribers, 'Email', 'User.email') -}}
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subscriber in subscribers %}
                            <tr>
                                <td>{{- subscriber.username -}}</td>
                                <td>{{- subscriber.email -}}</td>
                                <td>
                                    <a class="btn btn-danger" href="{{-
                                        path('govwiki_admin_subscribe_remove', {
                                            'government': government.id,
                                            'subscriber': subscriber.id
                                        })
                                    -}}">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="button-row">
                                <a class="btn btn-success" href="{{-
                                    path('govwiki_admin_subscribe_add',
                                    { 'government': government.id })
                                -}}">Add new subscriber</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                {{- knp_pagination_render(subscribers) -}}

            </div>

        </div>

    </div>

{% endblock body %}
