{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - {{ government.name }} subscribers{% endblock title %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        'Governments',
        'govwiki_admin_government_index',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(government.name ~ ' subscribers') -}}
{% endblock breadcrumb %}

{% block panel_title %}
    {{ government.name }} subscribers
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_errors(form.message) }}
    {{ form_widget(form.message) }}
    <div class="pull-right">
        <button type="submit" class="btn btn-success">Send</button>
    </div>
    {{ form_end(form) }}

    {{- knp_pagination_render(subscribers) -}}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                {{- knp_pagination_sortable(
                subscribers,
                'Name',
                'User.username'
                ) -}}
            </th>
            <th>
                {{- knp_pagination_sortable(
                subscribers,
                'Email',
                'User.email'
                ) -}}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in subscribers %}
            <tr>
                <td>{{- subscriber.username -}}</td>
                <td>{{- subscriber.email -}}</td>
                <td>
                    <a class="btn btn-danger" href="{{-
                    path('govwiki_admin_subscribe_remove', {
                        'environment': environment.slug,
                        'government': government.id,
                        'subscriber': subscriber.id
                    })
                    -}}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{- knp_pagination_render(subscribers) -}}

    <div>
        <a class="btn btn-success" href="{{-path(
            'govwiki_admin_subscribe_add',
            {
                'environment': environment.slug,
                'government': government.id
            }
        )-}}">Add new subscriber</a>
    </div>
{% endblock panel_body %}
