{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - edit tab{% endblock title %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{
    macro.breadcrumbElement(
    admin_environment|capitalize ~' environment',
    'govwiki_admin_main_show',
    { 'environment': admin_environment }
    )
    }}
    {{ macro.breadcrumbElement('Formats', 'govwiki_admin_format_list') }}
    {{ macro.breadcrumbElement('Tabs', 'govwiki_admin_tab_list')}}
    {{ macro.breadcrumbElement('Edit '~ form.name.vars.data) }}
{% endblock breadcrumb %}

{% block body %}
    <div class="container-fluid">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Update</button>
        <a class="btn btn-default" href="{{-
            path(
                'govwiki_admin_tab_list'
            )
        -}}">Back</a>
        {{ form_end(form) }}
    </div>
{% endblock body %}
