{% import 'GovWikiMobileBundle:Partial/Elected/Tabs:macro.html.twig' as macro %}
{% import _self as helper %}

<div role="tabpanel" class="tab-pane active" id="Endorsements">
    <div class="tab-pane-main">

        <div id="bio" class="form-group clearfix">
            <div class="loader"></div>
            <label>Bio</label>

            {#{%- if (bioChanged and currentUserChangeBio) -%}
                {%- set bio = elected.bioChanges.lastChanges -%}
            {%- else -%}
                {%- set bio = elected.bio -%}
            {%- endif -%}#}

            <div id="elected-bio-view">
                {{- elected.bio|raw -}}
            </div>
            <div id="elected-bio-edit-block" style="display: none">
                {{ form(bioForm) }}
            </div>
            <div class="pull-right">
                <button id="change-bio-start"
                        class="btn btn-primary">
                    Change
                </button>
                <div id="change-bio-group" style="display: none">
                    <a id="change-bio-save" href="{{- path(
                    'govwiki_api_v1_editrequest_create'
                    ) -}}" class="btn btn-primary">Save Changes</a>
                    <button id="change-bio-revert"
                            class="btn btn-default">
                        Revert
                    </button>
                </div>
            </div>
            {#{%- if app.user is not null -%}
                {%- if ((not bioChanged)
                or (bioChanged and currentUserChangeBio)) -%}
                    <div class="pull-right">
                        <button id="change-bio-start"
                                class="btn btn-primary">
                            Change
                        </button>
                        <div id="change-bio-group" style="display: none">
                            <a id="change-bio-save" href="{{- path(
                            'govwiki_api_v1_editrequest_create'
                            ) -}}" class="btn btn-primary">Save Changes</a>
                            <button id="change-bio-revert"
                                    class="btn btn-default">
                                Revert
                            </button>
                        </div>
                    </div>
                {%- else -%}
                    <p class="text-info text-center">
                        Unapproved Changes Pending Approval
                    </p>
                {%- endif -%}
            {%- endif -%}#}
        </div>

        <hr>

        <h4 class="text-center">Endorsements</h4>

        <div class="add_action">
            <span>Add new Endorsement</span>
            <span class="glyphicon glyphicon-plus"></span>
        </div>

        {{ knp_pagination_render(endorsements) }}

        {%- for endorsement in endorsements -%}
            {% set blockId = 'endorsementCollapse' ~ loop.index %}

            {# Card #}
            <div class="card">

                {# Header #}
                <div class="card__header text-justify" data-toggle="collapse"
                     data-target="#{{ blockId }}" aria-expanded="false"
                     aria-controls="{{ blockId }}">

                    <p class="card__header-title" {%-
                        if macro.isPendingRequest(endorsement)
                    -%}
                        style="background: rgba(80, 0, 0, 0.1)"
                    {%- endif -%}>
                        {{- endorsement.nameOfEndorser -}}
                    </p>

                    <div class="card__group card__group_offset">
                        <span class="card__group-item">
                            Election Year:
                            <span>{{- endorsement.electionYear -}}</span>
                        </span>

                        <span class="card__group-item card__group-item_right">
                            Type:
                            <span>{{- endorsement.endorserType -}}</span>
                        </span>
                    </div>

                    {# Expand icon #}
                    <div class="card__header-expand" data-toggle="collapse" data-target="#{{ blockId }}" aria-expanded="false"
                         aria-controls="{{ blockId }}">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                </div>

                {# Content (Collapsable) #}
                <div class="collapse" id="{{ blockId }}">
                    <div class="card__block">
                        {# Legislation info #}
                        <h4 class="card__block-title">
                            {{- macro.dataElement(
                                endorsement,
                                'nameOfEndorser',
                                { type: 'textarea' }
                            ) -}}
                        </h4>

                        {# How legislation vote (as table) #}
                        <table class="table table-stripped">
                            <tr>
                                <th>Election Year</th>
                                <td>
                                    {{- macro.dataElement(
                                        endorsement,
                                        'electionYear'
                                    ) -}}
                                    {#{{- helper.electionYear(endorsement) -}}#}
                                </td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>
                                    {{- macro.dataElement(
                                        endorsement,
                                        'endorserType',
                                        {
                                            type: 'select',
                                            source: "{'Elected Official': 'Elected Official', 'Organization': 'Organization', 'Political Party': 'Political Party', 'Union': 'Union', 'Other': 'Other'}"
                                        }
                                    ) -}}
                                    {#{{- helper.endorserType(endorsement) -}}#}
                                </td>
                            </tr>
                        </table>

                        {#{% if not macro.isPendingRequest(endorsement) %}
                            &#123;&#35; Comment icon &#35;&#125;
                            <p class="card__block-footer">
                                <span class="vote-public-comment">
                                    <i class="glyphicon glyphicon-comment"></i>
                                </span>
                            </p>
                        {% endif %}#}

                    </div>
                </div>
            </div>
        {%- endfor -%}

    </div>
</div>
