{% import 'GovWikiMobileBundle:Partial/Elected/Tabs:macro.html.twig' as macro %}
{% import _self as helper %}

<div role="tabpanel" class="tab-pane" id="Statements"
     xmlns="http://www.w3.org/1999/html">
    <div class="tab-pane-main">

        <div class="add_action">
            <span>Add new Public Statement</span>
            <span class="glyphicon glyphicon-plus"></span>
        </div>

        {{ knp_pagination_render(publicStatements) }}

        {%- for publicStatement in publicStatements -%}
            {% set blockId = 'publicStatementCollapse' ~ loop.index %}

            {# Card #}
            <div class="card">

                {# Header #}
                <div class="card__header text-justify" data-toggle="collapse"
                     data-target="#{{ blockId }}"
                     aria-expanded="false" aria-controls="{{ blockId }}"
                    {%-
                        if macro.isPendingRequest(publicStatement)
                    -%}
                        style="background: rgba(80, 0, 0, 0.1)"
                    {%- endif -%}>

                    <p class="card__header-title">
                        {{- publicStatement.summary -}}
                    </p>

                    <div class="card__group card__group_offset">
                        <span class="card__group-item">
                            Date:
                            <span>
                                {{- publicStatement.date | date("m/d/Y") -}}
                            </span>
                        </span>
                        <span class="card__group-item card__group-item_right">
                            Category:
                            <span>
                                {{- publicStatement.issueCategory.name -}}
                            </span>
                        </span>
                    </div>

                    <div class="card__group card__group_offset">
                        <div class="card__group-item">
                            Url:
                            <span>
                                {{- publicStatement.url -}}
                            </span>
                        </div>
                    </div>

                    {# Expand icon #}
                    <div class="card__header-expand" data-toggle="collapse" data-target="#{{ blockId }}" aria-expanded="false"
                         aria-controls="{{ blockId }}">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>

                </div>

                {# Content (Collapsable) #}
                <div class="collapse" id="{{ blockId }}">
                    <div class="card__block">

                        <h4>
                            {{- macro.dataElement(publicStatement, 'summary') -}}
                        </h4>

                        <div class="card__group card__group_offset">
                            <span class="card__group-item">
                                Date:
                                <span>
                                    {{- macro.dataElement(
                                        publicStatement,
                                        'date'
                                    ) -}}
                                </span>
                            </span>
                            <span class="card__group-item card__group-item_right">
                                Category:
                                <span>
                                    {{- macro.dataSubElement(
                                        publicStatement,
                                        'issueCategory',
                                        'name',
                                        {
                                            type: 'select',
                                            source: issuesCategoriesSource() | json_encode | replace('"', '\'')
                                        }
                                    ) -}}
                                </span>
                            </span>
                        </div>

                        <div class="card__group card__group_offset">
                            <div class="card__group-item">
                                Url:
                                <span>
                                    {{- macro.dataElement(
                                        publicStatement,
                                        'url'
                                    ) -}}
                                </span>
                            </div>
                        </div>

                        {#{%- if not macro.isPendingRequest(publicStatements) -%}
                            &#123;&#35; Comment icon &#35;&#125;
                            <p class="card__block-footer">
                                <span class="vote-public-comment">
                                    <i class="glyphicon glyphicon-comment"></i>
                                </span>
                            </p>
                        {%- endif -%}#}

                    </div>
                </div>
            </div>{# Card end #}

        {%- endfor -%}

    </div>
</div>