{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}

{% block title %}{{ parent() }} - Create localization{% endblock %}

{% block breadcrumb %}
    {{- macro.breadcrumbElement('Main', 'govwiki_admin_main_home') -}}
    {{- macro.breadcrumbElement(
        'Localizations',
        'govwiki_admin_globallocalization_index'
    ) -}}
    {{ macro.breadcrumbElement('Create locale') }}
{% endblock breadcrumb %}

{% block panel_title %}
    New global locale
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}

    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.locale_name) }}
            {% for flash_message in app.session.flashbag.get('error') %}
                <h6>{{ flash_message }}</h6>
            {% endfor %}
            {{ form_widget(form.locale_name) }}
        </div>
    </div>
    <div class="col-md-12">
        <input type="submit" class="btn btn-primary">
    </div>

    {{ form_end(form) }}
{% endblock panel_body %}

