{#
    Financial statements categories.
#}
{% import _self as macro %}

{# Chart Control #}

<div class="col-md-12 text-left chart-controls">
    <div class="btn-group btn-group-xs" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="chart" autocomplete="off" checked> Pie
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="tree-charts" autocomplete="off"> Tree Charts
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="compare-charts" autocomplete="off"> Compare
        </label>
    </div>
</div>

{# Charts #}
<div class="col-md-12">
    <div class="customGraph col-md-6" id="total-revenue-pie"></div>
    <div class="customGraph col-md-6" id="total-expenditures-pie"></div>
    <div class="customGraph col-md-6" id="total-revenue-tree"></div>
    <div class="customGraph col-md-6" id="total-expenditures-tree"></div>
    <div class="customGraph col-md-12" id="total-compare-pie">
        {# Compare form #}
        <div class="row">
            <div class="col-md-12">

                <form class="government-compare">

                    {# First condition #}
                    <div class="col-md-3 first-condition">
                        <h4 class="text-center">Step 1</h4>
                        <div class="form-group">
                            <div class="typeahead_wrap">
                                <input type="text" placeholder="Government name" class="text-uppercase typeahead_government form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control disabled">
                                <option value="">YEAR</option>
                            </select>
                        </div>
                    </div>

                    {# Divider #}
                    <div class="col-md-1 form-group text-center divider">TO</div>

                    {# Second condition #}
                    <div class="col-md-3 second-condition">
                        <h4 class="text-center">Step 2</h4>
                        <div class="form-group">
                            <div class="typeahead_wrap">
                                <input type="text" placeholder="Government name" class="text-uppercase typeahead_government form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control disabled">
                                <option value="">YEAR</option>
                            </select>
                        </div>
                    </div>

                    {# Divider #}
                    <div class="col-md-1 form-group text-center divider">BY</div>

                    {# Caption Selector #}
                    <div class="col-md-3 form-group government-categories">
                        <h4 class="text-center">Step 3</h4>
                        <select class="form-control disabled category">
                            <option value="">CATEGORY</option>
                            <optgroup label="Financial Statement">
                                <option value="Revenues">Revenues</option>
                                <option value="Expenditures">Expenditures</option>
                            </optgroup>
                        </select>
                        <div class="text-center" style="font-size:12px; margin-top: 5px;color: #DBDBDB;">OR</div>
                        <div class="form-group">
                            <select class="form-control disabled caption">
                                <option value="">CAPTION</option>
                            </select>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        {# Charts #}
        <div class="row">
            <div class="customGraph col-md-6 text-center" id="total-compare-first-pie">
                <p>To see graph, please fill out the form</p>
            </div>
            <div class="customGraph col-md-6 text-center" id="total-compare-second-pie">
                <p>To see graph, please fill out the form</p>
            </div>
        </div>
    </div>
    <div class="customGraph col-md-12 text-center" id="total-compare-column" style="display: none">
        <p>To see graph, please fill out the form</p>
    </div>
</div>

{# Statistics #}

<div class="col-md-12">

    <div class="col-md-6">
        <table class="table compare-first-table"></table>
    </div>
    <div class="col-md-6">
        <table class="table compare-second-table"></table>
    </div>

    {% set finDataReplacements = {
        ' ': '_',
        '-': '_d_',
        '&': 'amp',
        ',': '_c_',
        '(': 'lb',
        ')': 'rb',
        '/': 'sl',
        '%': 'proc',
        "'": "_apos_"
        }
    %}

    {% for categoryName, fields in financialStatements %}
        <table class="table financial-table">

            {% set showTotalAndOver = (fields|first).otherfunds is defined %}

            <thead>
                <tr>
                    {# Category caption #}
                    <th><b>{{ ('caption_categories.' ~ categoryName | replace(finDataReplacements) | lower)|trans }}</b></th>
                    {% if loop.first %}
                        <th><b>{{ 'funds.general_fund'|trans }}</b></th>
                        <th><b>{{ 'funds.other'|trans }}</b></th>
                        <th><b>{{ 'funds.total'|trans }}</b></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>

                {# Category fields #}
                {% for name, data in fields %}
                    <tr>

                        <td>
                            {{ ('findata.captions.' ~ name | replace(finDataReplacements) | lower)|trans }}
                        </td>
                        <td>
                            {%- if not showTotalAndOver or loop.first -%}
                                $&nbsp;
                            {%- endif -%}
                            {% if data.genfund is defined %}
                                {{- macro.displayValue(data.genfund) -}}
                            {%- else -%}
                                0
                            {%- endif -%}
                        </td>

                        {% if showTotalAndOver %}
                            <td>
                                {%- if loop.first -%}
                                    $&nbsp;
                                {%- endif -%}
                                {% if data.otherfunds is defined %}
                                    {{- macro.displayValue(data.otherfunds) -}}
                                {%- else -%}
                                    0
                                {%- endif -%}
                            </td>
                            <td>
                                {%- if loop.first -%}
                                    $&nbsp;
                                {%- endif -%}

                                {% if data.totalfunds is defined %}
                                    {{- macro.displayValue(data.totalfunds) -}}
                                {%- else -%}
                                    0
                                {%- endif -%}
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}

            </tbody>

        </table>
    {% endfor %}

</div>


{% macro displayValue(value) %}
    {% if value < 0 %}
        ({{ value|abs|number_format }})
    {% else %}
        {{ value |number_format}}
    {% endif %}
{% endmacro %}