{#
    Financial statements categories.
#}
{% import _self as macro %}

{# Chart Control #}

<div class="col-md-12 text-left chart-controls">
    <div class="btn-group btn-group-xs" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="chart" autocomplete="off" checked> Pie
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="tree-charts" autocomplete="off"> Tree Charts
        </label>
    </div>
</div>

{# Charts #}
<div class="col-md-12">
    <div class="customGraph col-md-6" id="total-revenue-pie"></div>
    <div class="customGraph col-md-6" id="total-expenditures-pie"></div>
    <div class="customGraph col-md-6" id="total-revenue-tree"></div>
    <div class="customGraph col-md-6" id="total-expenditures-tree"></div>
    <div class="customGraph col-md-6 col-offset-md-3" id="total-compare-pie"></div>
</div>

{# Statistics #}
<div class="statistics fin-values-block">
    {% for categoryName, fields in financialStatements %}
    <div>
        {% set showTotalAndOver = (fields|first).otherfunds is defined %}
        {# Category caption. #}
        <div class="row">

            <div class="col-md-5"><b>{{ categoryName }}</b></div>

            {% if showTotalAndOver %}
                <div class="col-md-2 text-right"><b>General Fund</b></div>
                <div class="col-md-2 text-right"><b>Other Funds</b></div>
                <div class="col-md-2 text-right"><b>Total Gov. Funds</b></div>
            {% endif %}
        </div>

        {# Category fields. #}
        {% for name, data in fields %}
            <div class="row">
                <div class="col-md-5">{{ name }}</div>
                <div class="col-md-2 text-right">
                    {%- if not showTotalAndOver or loop.first -%}
                        $&nbsp;
                    {%- endif -%}
                    {% if data.genfund is defined %}
                        {{- macro.displayValue(data.genfund) -}}
                    {%- else -%}
                        0
                    {%- endif -%}
                </div>

                {% if showTotalAndOver %}
                    <div class="col-md-2 text-right">
                        {%- if loop.first -%}
                            $&nbsp;
                        {%- endif -%}
                        {% if data.otherfunds is defined %}
                            {{- macro.displayValue(data.otherfunds) -}}
                        {%- else -%}
                            0
                        {%- endif -%}
                    </div>
                    <div class="col-md-2 text-right">
                        {%- if loop.first -%}
                            $&nbsp;
                        {%- endif -%}

                        {% if data.totalfunds is defined %}
                            {{- macro.displayValue(data.totalfunds) -}}
                        {%- else -%}
                            0
                        {%- endif -%}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
    </div>
{% endfor %}
</div>

{% macro displayValue(value) %}
    {% if value < 0 %}
        ({{ value|abs|number_format }})
    {% else %}
        {{ value |number_format}}
    {% endif %}
{% endmacro %}