{#
    Financial statements categories.
#}
{% import _self as macro %}

{# Chart Control #}

<div class="col-md-12 text-left chart-controls">
    <div class="btn-group btn-group-xs" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="chart" autocomplete="off" checked> Pie
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="tree-charts" autocomplete="off"> Tree Charts
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="compare-charts" autocomplete="off"> Compare
        </label>
    </div>
</div>

{# Charts #}
<div class="col-md-12">
    <div class="customGraph col-md-6" id="total-revenue-pie"></div>
    <div class="customGraph col-md-6" id="total-expenditures-pie"></div>
    <div class="customGraph col-md-6" id="total-revenue-tree"></div>
    <div class="customGraph col-md-6" id="total-expenditures-tree"></div>
    <div class="customGraph col-md-12" id="total-compare-pie">
        {# Compare form #}
        <div class="row">
            <div class="col-md-12">

                <form class="government-compare">

                    {# First condition #}
                    <div class="col-md-3 first-condition">
                        <h4 class="text-center">Step 1</h4>
                        <div class="form-group">
                            <div class="typeahead_wrap">
                                <input type="text" placeholder="Government name" class="text-uppercase typeahead_government form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control disabled">
                                <option value="">YEAR</option>
                            </select>
                        </div>
                    </div>

                    {# Divider #}
                    <div class="col-md-1 form-group text-center divider">TO</div>

                    {# Second condition #}
                    <div class="col-md-3 second-condition">
                        <h4 class="text-center">Step 2</h4>
                        <div class="form-group">
                            <div class="typeahead_wrap">
                                <input type="text" placeholder="Government name" class="text-uppercase typeahead_government form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control disabled">
                                <option value="">YEAR</option>
                            </select>
                        </div>
                    </div>

                    {# Divider #}
                    <div class="col-md-1 form-group text-center divider">BY</div>

                    {# Caption Selector #}
                    <div class="col-md-3 form-group government-categories">
                        <h4 class="text-center">Step 3</h4>
                        <select class="form-control disabled category">
                            <option value="">CATEGORY</option>
                            <optgroup label="Financial Statement">
                                <option value="Revenues">Revenues</option>
                                <option value="Expenditures">Expenditures</option>
                            </optgroup>
                        </select>
                        <div class="text-center" style="font-size:12px; margin-top: 5px;color: #DBDBDB;">OR</div>
                        <div class="form-group">
                            <select class="form-control disabled caption">
                                <option value="">CAPTION</option>
                            </select>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        {# Charts #}
        <div class="row">
            <div class="customGraph col-md-6 text-center" id="total-compare-first-pie">
                <p>To see graph, please fill out the form</p>
            </div>
            <div class="customGraph col-md-6 text-center" id="total-compare-second-pie">
                <p>To see graph, please fill out the form</p>
            </div>
        </div>
    </div>
    <div class="customGraph col-md-12 text-center" id="total-compare-column">
</div>

{# Statistics #}
<div class="statistics fin-values-block">
    {% set finDataReplacements = {
    ' ': '_',
    '-': '_d_',
    '&': 'amp',
    ',': '_c_',
    '(': 'lb',
    ')': 'rb',
    '/': 'sl',
    '%': 'proc',
    "'": "_apos_"
    }
    %}

    {% for categoryName, fields in financialStatements %}
    <div>
        {% set showTotalAndOver = (fields|first).otherfunds is defined %}
        {# Category caption. #}
        <div class="row">

            {#<div class="col-md-5"><b>{{ categoryName }}</b></div>#}
            <div class="col-md-5"><b>{{ ('caption_categories.' ~ categoryName | replace(finDataReplacements) | lower)|trans }}</b></div>

            {% if showTotalAndOver %}
                {#<div class="col-md-2 text-right"><b>General Fund</b></div>
                <div class="col-md-2 text-right"><b>Other Funds</b></div>
                <div class="col-md-2 text-right"><b>Total Gov. Funds</b></div>#}
                <div class="col-md-2 text-right"><b>{{ 'funds.general_fund'|trans }}</b></div>
                <div class="col-md-2 text-right"><b>{{ 'funds.other'|trans }}</b></div>
                <div class="col-md-2 text-right"><b>{{ 'funds.total'|trans }}</b></div>
            {% endif %}
        </div>

        {# Category fields. #}
        {% for name, data in fields %}
            <div class="row">
                {#<div class="col-md-5">{{ name }}</div>#}
                <div class="col-md-5">{{ ('findata.' ~ name | replace(finDataReplacements) | lower)|trans }}</div>
                <div class="col-md-2 text-right">
                    {%- if not showTotalAndOver or loop.first -%}
                        $&nbsp;
                    {%- endif -%}
                    {% if data.genfund is defined %}
                        {{- macro.displayValue(data.genfund) -}}
                    {%- else -%}
                        0
                    {%- endif -%}
                </div>

                {% if showTotalAndOver %}
                    <div class="col-md-2 text-right">
                        {%- if loop.first -%}
                            $&nbsp;
                        {%- endif -%}
                        {% if data.otherfunds is defined %}
                            {{- macro.displayValue(data.otherfunds) -}}
                        {%- else -%}
                            0
                        {%- endif -%}
                    </div>
                    <div class="col-md-2 text-right">
                        {%- if loop.first -%}
                            $&nbsp;
                        {%- endif -%}

                        {% if data.totalfunds is defined %}
                            {{- macro.displayValue(data.totalfunds) -}}
                        {%- else -%}
                            0
                        {%- endif -%}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
    </div>
{% endfor %}
</div>

{% macro displayValue(value) %}
    {% if value < 0 %}
        ({{ value|abs|number_format }})
    {% else %}
        {{ value |number_format}}
    {% endif %}
{% endmacro %}