{#
    Pensions tab.
#}

<div class="col-md-12">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Job title</th>
                <th>Amount</th>
                <th>Benefits</th>
                <th>Disability</th>
                <th>Total</th>
                <th>Years of service</th>
                <th>Year of retirement</th>
            </tr>
        </thead>
        <tbody>
            {% for pension in pensions %}
                <tr>
                    <td>{{ pension.employee }}</td>
                    <td>{{ pension.job.title }}</td>
                    <td>$ {{ pension.amount|number_format(2) }}</td>
                    <td>$ {{ pension.benefits|number_format(2) }}</td>
                    <td>$ {{ pension.disability|number_format(2) }}</td>
                    <td>$ {{ pension.total|number_format(2) }}</td>
                    <td>{{ pension.yearsOfService }}</td>
                    <td>{{ pension.yearOfRetirement }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>