{#
    Salaries tab.
#}

{# Charts #}
<div class="col-md-12">
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>Employee</th>
            <th>Job title</th>
            <th>Base</th>
            <th>Overtime</th>
            <th>Other</th>
            <th>Benefits</th>
            <th>Total</th>
            <th>Total and benefits</th>
        </tr>
        </thead>
        <tbody>
        {% for salary in salaries %}
            <tr>
                <td>{{ salary.employee }}</td>
                <td>{{ salary.job.title }}</td>
                <td>$ {{ salary.base|number_format(2) }}</td>
                <td>$ {{ salary.overtime|number_format(2) }}</td>
                <td>$ {{ salary.other|number_format(2) }}</td>
                <td>$ {{ salary.benefits|number_format(2) }}</td>
                <td>$ {{ salary.total|number_format(2) }}</td>
                <td>$ {{ salary.totalAndBenefits|number_format(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>