<div class="row footer">

    {# Copyright #}
    <div class="copyright-wrapper col-xs-12 col-sm-6 col-md-8">

        <div class="copyright">
            {#{{ environment_content.get('footer_copyright')|raw }}#}
            {{ 'footer.copyright'|trans|raw }}
        </div>

    </div>

    {# Site links #}
    <div class="col-xs-6 col-sm-3 col-md-2">

        <div class="site-links">
            {#{{ environment_content.get('footer_links')|raw }}#}
            {{ 'footer.links'|trans|raw }}
        </div>

    </div>

    {# Social links #}
    <div class="col-xs-6 col-sm-3 col-md-2">
        {#{{ environment_content.get('footer_social')|raw }}#}
        {{ 'footer.social'|trans|raw }}
    </div>

</div>



