<div class="header">

    {# Return to map #}
    {% if app.request.attributes.get('_route') != "map" %}
        <a href="{{ govwiki_path('map') }}" class="home-icon">
            <i class="glyphicon glyphicon-home {{ environment }}"></i>
        </a>
    {% endif %}

    {# Logo #}
    {% if government is defined and government.secondaryLogoPath %}
        <a class="anchor" href="{{ entity.logoHref }}">
            <img src="{{ entity.logo }}" class="logo" width="70%">
        </a>
        {% if government.secondaryLogoUrl %}
            <a class="anchor" href="{{ government.secondaryLogoUrl }}">
                <img class="secondary_logo" src="{{ asset(government.secondaryLogoPath) }}" width="25%">
            </a>
        {% else %}
            <img class="secondary_logo" src="{{ asset(government.secondaryLogoPath) }}" width="25%">
        {% endif %}
    {% elseif elected.government is defined and elected.government.secondaryLogoPath %}
        <a class="anchor" href="{{ entity.logoHref }}">
            <img src="{{ entity.logo }}" class="logo" width="70%">
        </a>
        {% if elected.government.secondaryLogoUrl %}
            <a class="anchor" href="{{ elected.government.secondaryLogoUrl }}">
                <img class="secondary_logo" src="{{ asset(elected.government.secondaryLogoPath) }}" width="25%">
            </a>
        {% else %}
            <img class="secondary_logo" src="{{ asset(elected.government.secondaryLogoPath) }}" width="25%">
        {% endif %}
    {% else %}
        <a class="anchor" href="{{ entity.logoHref }}">
            <img src="{{ entity.logo }}" class="logo">
        </a>
    {% endif %}

    {# Menu button (cog) for mobile devices #}
    {# TODO hardcoded replace then new style editor complited #}
    <span class="{{ environment }}">
        <a type="button" class="menu collapsed" data-toggle="collapse"
                data-target="#bs-navigation-collapse" aria-expanded="false">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
    </span>

</div>

{# Navigation #}
<nav>

    <ul class="navigation navbar-collapse collapse" id="bs-navigation-collapse">
        {{ render(controller('GovWikiMobileBundle:Localization:showLocalesInHeader', {'current_page_route': app.request.attributes.get('_route')})) }}


        {% if app.user %}
            {# Show User name (Athorized) #}
            <li class="{{ environment }}">
                <a href="javascript:void(0)" class="link govwiki-link">
                    Logged in as {{ app.user.username }}
                </a>
            </li>

            {# Logout button #}
            <li class="{{ environment }}">
                <a href="{{path('fos_user_security_logout')}}" class="link">
                    Sign Out
                </a>
            </li>

        {% else %}
            {# Login button#}
            <li class="{{ environment }}">
                <a href="#" onclick="$('#modal-window').modal('show')" class="link">
                    Login / Sign Up
                </a>
            </li>

        {% endif %}

        {# Return to map #}
        {% if app.request.attributes.get('_route') != "map" %}
            <li class="{{ environment }}">
                <a href="{{ govwiki_path('map') }}" class="link">
                    {{ 'header.links.return_to_map'|trans }}
                    {#Return to Map#}
                </a>
            </li>
        {% endif %}

        {# Return to some government #}
        {% if app.request.attributes.get('_route') == "elected" %}
            <li class="{{ environment }}">
                <a href="{{ govwiki_path('government', {
                    altTypeSlug: altTypeSlug,
                    slug: slug
                }) }}" class="link">
                    Return to {{ slug|replace('_', ' ') }}
                </a>
            </li>
        {% endif %}

    </ul>

</nav>