{%- include 'GovWikiEnvironmentBundle::human_style.html.twig' -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.css">

<div class="pensions">
    <div class="pensions-controls">

        <div id="sorter" class="pensions-control pensions-sort">
            Sort:
            <select class="pensions-sort-column styled">
                <option value=""></option>
                {%- for name, config in fields -%}
                    <option value="{{- name -}}" data-type="{{- config.type -}}">
                        {{- config.title -}}
                    </option>
                {%- endfor -%}
            </select>
            <select class="pensions-sort-order styled">
                <option value=""></option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <button class="pensions-sort-btn btn">Sort</button>
        </div>

        <div id="column-selector" class="pensions-control pensions-selector">
            <select multiple="multiple"></select>
            <button class="pensions-selector-apply btn" type="button">
                Apply
            </button>
        </div>

        <div id="filter" class="pensions-control pensions-filter">
            Filter:
            <select class="pensions-filter-column styled">
                {%- for name, config in fields -%}
                    <option value="{{- name -}}" data-type="{{- config.type -}}">
                        {{- config.title -}}
                    </option>
                {%- endfor -%}
            </select>
            <select class="pensions-filter-operation-string styled">
                <option value="eq">=</option>
                <option value="contains">contains</option>
                <option value="neq">&lt;&gt;</option>
            </select>
            <select class="pensions-filter-operation-number styled">
                <option value="lt">&lt;</option>
                <option value="lte">&lt;=</option>
                <option value="eq">=</option>
                <option value="neq">&lt;&gt;</option>
                <option value="gte">&gt;=</option>
                <option value="gt">&gt;</option>
                <option value="between">between</option>
            </select>
            <input type="text" class="pensions-filter-value styled">
            <input type="text" class="pensions-filter-value-max styled">
            <button class="pensions-filter-button btn" type="button">Filter</button>
            <button class="pensions-filter-button-reset btn" type="button">Reset</button>
        </div>


    </div>
    <div class="pensions-data">
    </div>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div class="pensions-footer">
        <div id="paginator" class="pensions-control pensions-paginator">
            <ul>
                <li class="pensions-paginator-first">&lt;&lt;</li>
                <li class="pensions-paginator-previous">&lt;</li>
                <li class="pensions-paginator-page">
                    <input type="number" min="1" max="">
                </li>
                <li class="pensions-paginator-next">&gt;</li>
                <li class="pensions-paginator-last">&gt;&gt;</li>
            </ul>
        </div>
        <div id="counter" class="pensions-control pensions-counter">
            Per page:
            <select class="pensions-counter-per-page styled">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">15</option>
                <option value="100">100</option>
            </select>
            Total: <span class="pensions-counter-count"></span>
        </div>
    </div>

</div>

{%- if(debug) -%}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.js">
    </script>
{%- endif -%}

{%- include 'GovWikiEnvironmentBundle::human_code.html.twig' -%}