<p>
    On {{ "now"|date('m/d/y g:i a') }} date the following summary of a vote you made was added to your profile on {{ profileUrl }}.
</p>
<p>
    {{ vote.legislation.name }}, {{ vote.legislation.issueCategory }}, {{ vote.legislation.summary }}
</p>
<p>
    In 72 hours this summary will be added to our website. To ensure accuracy, we would like to offer you the opportunity to either notify us of any incorrect information herein, AND if you would like to have your own comment appear beneath this summary for the general public to view, please click <a href="{{ addCommentUrl }}?key={{ key }}">HERE</a> and your comment will be automatically added.
</p>