{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - edit format{% endblock title %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{
    macro.breadcrumbElement(
    admin_environment|capitalize ~' environment',
    'govwiki_admin_main_show',
    { 'environment': admin_environment }
    )
    }}
    {{ macro.breadcrumbElement('Formats', 'govwiki_admin_format_list') }}
    {{ macro.breadcrumbElement('Edit '~ form.name.vars.data)}}
{% endblock breadcrumb %}

{% block body %}

    <div class="container">

        {# Panel #}
        <div class="panel panel-success">

            {# Header #}
            <div class="panel-heading">
                <h3 class="panel-title">Edit format field</h3>
            </div>

            {# Body #}
            <div class="panel-body">

                {# Navigation controls #}
                <div class="row">
                    <div class="col-md-12">

                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-success">Update</button>
                        <a class="btn btn-default" href="{{-
                            path(
                                'govwiki_admin_format_list'
                            )
                        -}}">Back</a>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock body %}

{% block javascripts %}
    {% javascripts '@GovWikiAdminBundle/Resources/public/js/Format/fieldname.js'
    output='js/format.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
