{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - formats{% endblock title %}

{% block body %}
    <div class="container-fluid">
        {#
            Navigation.
        #}
        <div class="index-page-head">
            <div class="navigation">
                {{ knp_pagination_render(fields) }}
                <div class="pull-right">
                    <button class="btn btn-default new_group" data-url="{{-
                        path('govwiki_admin_format_tab')
                    -}}">
                        New tab
                    </button>
                    <button class="btn btn-default new_group" data-url="{{-
                        path('govwiki_admin_format_category')
                    -}}">
                        New category
                    </button>
                    &nbsp;
                    <a class="btn btn-primary" href="{{-
                        path('govwiki_admin_format_new')
                    -}}">Add new</a>
                </div>
            </div>
        </div>

        {#
            List of formats.
        #}
        <table class="table table-responsive">
            <tr>
                <th>Tab</th>
                <th>Category</th>
                <th>Field</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            {% for field in fields %}
                <tr>
                    <td>{{ field.tab_name }}</td>
                    <td>{{ field.category_name }}</td>
                    <td>
                        <a href="{{ path('govwiki_admin_format_edit', { id: field.id }) }}">
                            {{ field.field }}</a>
                    </td>
                    <td>{{ field.description|raw }}</td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('govwiki_admin_format_remove', { id: field.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ knp_pagination_render(fields) }}

    </div>

    {#
        Modal window for creation new categories and tabs.
    #}
    {% embed '@GovWikiAdmin/Format/Partial/modal.html.twig' with { id: 'modal' } %}
        {% block title %}{% endblock title %}
        {% block body %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            {{ form_end(form) }}
        {% endblock body %}
    {% endembed %}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function(){
            var $modal = $('#modal');
            var $form = $modal.find('form');

            /*
                Set button callback.
             */
            $('.new_group').click(function() {
                var $this = $(this);

                $form.attr('action', $this.attr('data-url'));
                $modal.modal();
                $modal.find('.modal-title').text($this.text());
            });
        });
    </script>
{% endblock javascripts %}
