{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - edit map{% endblock title %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{
    macro.breadcrumbElement(
    admin_environment|capitalize ~' environment',
    'govwiki_admin_main_show',
    { 'environment': admin_environment }
    )
    }}
    {{ macro.breadcrumbElement('Map') }}
{% endblock breadcrumb %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Map edit</h3>
                    </div>
                    <div class="panel-body">

                        {{ form_start(form) }}
                        {# Map position, coordinates of center and zoom. #}
                        <div class="col-md-6 col-lg-6 col-xs-12">
                            {{- form_row(form.centerLatitude) -}}
                            {{- form_row(form.centerLongitude) -}}
                            {{- form_row(form.zoom) -}}
                            {{- form_row(form.position) -}}
                        </div>

                        {# Colorized county conditions. #}
                        <div class="col-md-6 col-lg-6 col-xs-12">
                            {{- form_row(form.colorizedCountyConditions) -}}
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <button class="btn btn-success">Update</button>
                            <a class="btn btn-default" href="{{- path
                            ('govwiki_admin_main_show') -}}">Back</a>
                        </div>
                        {#<a class="btn btn-primary{%- if not canExport %} disabled{%- endif -%}" href="{{ path('map_export', {name: name}) }}">
                            Export to CartoDB
                        </a>#}
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    {# Bootstrap colorpicker #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function init()
        {
            $('.color-picker').colorpicker({
                format: 'hex',
                align: 'left'
            });

            $('.conditions-delete').click(function(){
                $(this).closest('.condition-row').parent().remove();
            });
        }

        $(function() {
            /**
             * Condition add button.
             *
             * @type {*|jQuery|HTMLElement}
             */
            var $addBtn = $('#conditions-add');

            /**
             * Holder element for collection.
             *
             * @type {*|jQuery|HTMLElement}
             */
            var $collectionHolder = $('[data-prototype]');

            $collectionHolder.data('index', $collectionHolder.find('.condition-row').length);

            $addBtn.click(function() {
                var prototype = $collectionHolder.data('prototype');

                var index = $collectionHolder.data('index');
                var newForm = prototype.replace(/__name__label__/g, index);
                newForm = newForm.replace(/__name__/g, index);

                $collectionHolder.data('index', index + 1);

                $addBtn.before(newForm);

                init();
            });

            init();
        });
    </script>
{% endblock javascripts %}
