{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - edit map{% endblock title %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{
    macro.breadcrumbElement(
    admin_environment|capitalize ~' environment',
    'govwiki_admin_main_show',
    { 'environment': admin_environment }
    )
    }}
    {{ macro.breadcrumbElement('Map') }}
{% endblock breadcrumb %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Map edit</h3>
                    </div>
                    <div class="panel-body">

                        {{ form_start(form) }}

                        {{- form_row(form.debug) -}}

                        {# Map position, coordinates of center and zoom. #}
                        <div class="col-md-6 col-lg-6 col-xs-12">
                            {{- form_row(form.centerLatitude) -}}
                            {{- form_row(form.centerLongitude) -}}
                        </div>

                        <div class="col-md-6 col-lg-6 col-xs-12">
                            {{- form_row(form.zoom) -}}
                            {{- form_row(form.position) -}}
                        </div>

                        {# Colorized county conditions. #}
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <h3>Colorized conditions</h3>

                            <div class="form-group">
                                <label class="control-label" for="colorized">
                                    Colorized
                                </label>
                                <input type="checkbox" id="colorized" name="ccc[colorized]"
                                        {%- if (conditions.colorized) %} checked{%- endif -%}>
                            </div>

                            <div id="conditions-main"
                                    {%- if not (conditions.colorized) -%} style="display: none"{%- endif -%}>

                                {# Field name selector. #}
                                <div class="form-group">
                                    <label for="condition-field-name">Field name</label>
                                    <select class="form-control" id="condition-field-name" name="ccc[fieldName]">
                                        {% for field, name in fields %}
                                            <option value="{{ field }}"
                                                    {%- if (field == conditions.fieldName) -%} selected
                                                    {%- endif -%}
                                                    >{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {# Conditions. #}
                                <div class="form-group">
                                    <label class="control-label">Conditions</label>
                                    <div id="conditions-list"></div>
                                </div>

                                <button type="button" class="pull-right btn btn-default" id="condition-add">Add new conditions</button>
                            </div>
                        </div>
                        {# Colorized county conditions. #}
                       {# <div class="col-md-6 col-lg-6 col-xs-12">
                            {{- form_row(form.colorizedCountyConditions) -}}
                        </div>#}
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <button class="btn btn-success">Update</button>
                            <a class="btn btn-default" href="{{- path
                            ('govwiki_admin_main_show') -}}">Back</a>
                        </div>
                        {#<a class="btn btn-primary{%- if not canExport %} disabled{%- endif -%}" href="{{ path('map_export', {name: name}) }}">
                            Export to CartoDB
                        </a>#}
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    {# Bootstrap colorpicker #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {%- javascripts
        '@GovWikiFrontendBundle/Resources/public/js/vendor/handlebars.runtime.js'
        '@GovWikiAdminBundle/Resources/public/js/Map/map.js'
        '@GovWikiAdminBundle/Resources/public/js/Map/templates.js'
        output='js/admin_map.js'
    -%}
        <script src="{{ asset_url }}"></script>
    {%- endjavascripts -%}

    <script>
        window.gw.county = JSON.parse('{{ conditions.toArray|json_encode|e('js') }}');


//        /**
//         *  Initialize conditions remove button handler.
//         */
//        function init()
//        {
//
//            $('.conditions-delete').click(function(){
//                $(this).closest('.condition-row').parent().remove();
//            });
//        }
//
//        $(function() {
//            /**
//             * Condition add button.
//             *
//             * @type {*|jQuery|HTMLElement}
//             */
//            var $addBtn = $('#conditions-add');
//
//            /**
//             * Holder element for conditions collection.
//             *
//             * @type {*|jQuery|HTMLElement}
//             */
//            var $collectionHolder = $('[data-prototype]');
//
//            $collectionHolder.data('index', $collectionHolder.find('.condition-row').length);
//
//            $addBtn.click(function() {
//                /**
//                 * Prototype of condition form.
//                 *
//                 * @type {string}
//                 */
//                var prototype = $collectionHolder.data('prototype');
//
//                /**
//                 * Current condition form index.
//                 *
//                 * @type {number}
//                 */
//                var index = $collectionHolder.data('index');
//                var newForm = prototype.replace(/<label class="control-label required">__name__label__<\/label>/g, '');
//                newForm = newForm.replace(/__name__/g, index);
//
//                $collectionHolder.data('index', index + 1);
//
//                $collectionHolder.append(newForm);
//
//                $collectionHolder.find('.color-picker:last')
//                        .colorpicker()
//                        .colorpicker('setValue', '#000000');
//
//                init();
//            });
//
//            init();
//        });
    </script>
{% endblock javascripts %}
