{% extends "GovWikiAdminBundle:Layout:main.html.twig" %}

{% block title %}Maps{% endblock title %}

{% block body %}
    <div class="container-fluid">
        {{ knp_pagination_render(maps) }}
        <table class="table table-responsive">
            <tr>
                <th>Name</th>
                <th>Visualization url</th>
            </tr>
            {% for map in maps %}
                <tr>
                    <td>
                        <a href="{{ path('map_show', { name: map.name }) }}">
                            {{ map.name }}</a>
                    </td>
                    <td>
                        {{ map.vizUrl }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ knp_pagination_render(maps) }}
        <a class="btn btn-primary" href="{{ path('map_new') }}">Add new map</a>
    </div>
{% endblock body %}
