{% use 'form_div_layout.html.twig' with checkbox_widget as old_checkbox_widget %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block form_label %}
    {% spaceless %}

        {% import _self as macros %}

        {% if label is empty %}
            {#{% set label = macros.form_parent_name(form)|trim %}
            <script type="text/javascript">
                var labelText = '{{ form.vars.name|humanize }}';
                $.ajax({
                    type: "POST",
                    url: "{{ path('govwiki_admin_localization_createinitialentranslation') }}",
                    data: {'trans_key': "{{ label }}", 'trans_text': labelText},
                    success: function (response) {
                        if (response.result == true) {
                            console.log("{{ label }}");
                        }
                    }
                });
            </script>#}
        {% endif %}

        {{ parent() }}

    {% endspaceless %}
{% endblock form_label %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}" {% if hidden %}style="display: none"{% endif %}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block checkbox_widget -%}
    <div class="checkbox" {% if hidden %}style="display: none"{% endif %}>
        {{- form_label(form, null, { widget: block('old_checkbox_widget') }) -}}
    </div>
{%- endblock checkbox_widget %}

{% macro form_parent_name(form, prefix) %}
    {% spaceless %}

        {% import _self as macros %}

        {% set prefix = prefix|default(false) %}

        {% if form.parent is empty %}
            {{ form.vars.name }}.labels
        {% else %}
            {% if form.vars.compound and not prefix %}
                {{ macros.form_parent_name(form.parent) }}.{{ form.vars.name }}.label
            {% else %}
                {{ macros.form_parent_name(form.parent, true) }}.{{ form.vars.name }}
            {% endif %}
        {% endif %}

    {% endspaceless %}
{% endmacro %}