{% block color_widget %}
    {% spaceless %}
        <div class="input-group color-picker">
            <span class="input-group-addon"><i></i></span>
            {{- block('form_widget_simple') -}}
        </div>
    {% endspaceless %}
{% endblock %}

{% block conditions_widget %}
    {% spaceless %}
        <div class="row condition-row">
            <div class="col-md-5 col-lg-5 col-xs-12">
                {{- form_row(form.condition) -}}
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                {{- form_row(form.color) -}}
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12">
                <button type="button" class="btn btn-danger conditions-delete">Delete</button>
            </div>
        </div>
    {% endspaceless %}
{% endblock conditions_widget %}

{#

    Colorized county condition form widget.

#}
{% block colorized_county_condition_widget %}
    {% spaceless %}
        <div class="conditions">
            {{- form_row(form.colorized) -}}
            {{- form_row(form.fieldName) -}}
            {{- form_row(form.conditions) -}}
            <button type="button" class=" pull-right btn btn-default" id="conditions-add">Add new conditions</button>
        </div>
    {% endspaceless %}
{% endblock %}