{% block color_widget %}
{% spaceless %}
        <div class="input-group color-picker">
            <span class="input-group-addon">
                <i></i>
            </span>
            {{- block('form_widget_simple') -}}
        </div>
{% endspaceless %}
{% endblock %}

{% block conditions_widget %}
{% spaceless %}
        <div class="row condition-row">
            <div class="col-md-5 col-lg-5 col-xs-12">
                {{- form_row(form.condition) -}}
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                {{- form_row(form.color) -}}
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12">
                <button type="button" class="btn btn-danger conditions-delete">Delete</button>
            </div>
        </div>
{% endspaceless %}
{% endblock conditions_widget %}

{#

    Colorized county condition form widget.

#}
{% block coloring_condition_widget %}
{% spaceless %}
        <div class="conditions">
            {{- form_row(form.colorized) -}}
            {{- form_row(form.fieldName) -}}
            {{- form_row(form.conditions) -}}
            <button type="button" class=" pull-right btn btn-default" id="conditions-add">
                Add new conditions
            </button>
        </div>
{% endspaceless %}
{% endblock %}

{#

    Shape selector

#}
{% block shape_widget %}
{% spaceless %}
    <div class="input-group">
        {{ block('choice_widget') }}
        <span class="input-group-addon">
            <span class="shape-add">
                <i class="glyphicon glyphicon-plus"></i>
            </span>
        </span>
    </div>
{% endspaceless %}
{% endblock %}

{% block delay_widget %}
{% spaceless %}
    <div class="form-group">
        <label class="control-label">Legislation display time (hours:minutes)</label>
        <div class="delay-input">
            <input type='number' id="{{ id }}" value="{{ value.hours }}" min="0" name="{{ full_name }}[hours]"><b>:</b>
            <input type='number' id="{{ id }}" value="{{ value.minutes }}" min="0" name="{{ full_name }}[minutes]">
        </div>
    </div>
{% endspaceless %}
{% endblock delay_widget %}

{#

    Style form row template.

#}
{% block govwiki_admin_form_style_row_widget %}
{% spaceless %}
    {% set name = form.name.vars.value %}
    <h4>
        {%- if (name) -%}
            {{- name -}}
        {%- else -%}
            __property_name__
        {%- endif -%}

        {# Remove button #}
        <span>
            <a class="style-remove-button"><i class="glyphicon glyphicon-remove"></i></a>
        </span>
    </h4>
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock govwiki_admin_form_style_row_widget %}

{#

    Alt type selector in government form.

#}
{%- block _government_altType_widget -%}
{% spaceless %}
    <div class="input-group">
        {{ block('choice_widget') }}
        <div class="input-group-btn">
            <button type="button" class="btn btn-success new-alt-type">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
{% endspaceless %}
{%- endblock _government_altType_widget -%}