{% import 'GovWikiAdminBundle:User:show.html.twig' as macro %}

{% extends 'GovWikiAdminBundle:Layout:main.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {# Panel #}
            <div class="panel panel-primary">

                {# Header #}
                <div class="panel-heading">
                    <h3 class="panel-title">User info</h3>
                </div>

                {# Body #}
                <div class="panel-body">

                    {# Pagination #}
                    <div class="index-page-head">
                        <div class="navigation">
                            <div class="row">
                                <div class="col-md-5">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(users, 'Id',         'User.id') }}</th>
                                <th>{{ knp_pagination_sortable(users, 'Username',   'User.username') }}</th>
                                <th>Locked</th>
                                <th>{{ knp_pagination_sortable(users, 'Last login', 'User.lastLogin') }}</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ macro.renderBoolean(user.locked) }}</td>
                                <td>{{ user.lastLogin|date('m/d/y g:i a') }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{path('govwiki_admin_user_show', {'id': user.id})}}" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search"></span> Show
                                        </a>
                                        <a href="{{ path('govwiki_admin_user_edit', {'id': user.id}) }}" class="btn btn-default">
                                            <i class="glyphicon glyphicon-pencil"></i> Edit
                                        </a>
                                        {% set glyph = 'glyphicon-ban-circle' %}
                                        {% set title = 'Disable' %}
                                        {% if user.locked %}
                                            {% set glyph = 'glyphicon-ok-circle' %}
                                            {% set title = 'Enable' %}
                                        {% endif %}
                                        <a href="{{ path('govwiki_admin_user_enabletoggle', {'id': user.id}) }}" class="btn btn-default">
                                            <i class="glyphicon {{ glyph }}"> {{ title }}</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {# Pagination #}
                    <div class="navigation">
                        {{ knp_pagination_render(users) }}
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{ path('govwiki_admin_user_new') }}">Add new user</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock body %}
