{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}
{% block title %}{{ parent() }} - Legislations{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="index-page-head">
            <div class="navigation">
                {{ knp_pagination_render(legislations) }}
                <a class="btn btn-primary pull-right" href="{{-
                    path('govwiki_admin_legislation_create')
                -}}" style="margin-bottom:20px;">Create</a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>{{ knp_pagination_sortable(legislations, 'Id',                         'l.id') }}</td>
                    <td>{{ knp_pagination_sortable(legislations, 'Government assigned number', 'l.govAssignedNumber') }}</td>
                    <td>{{ knp_pagination_sortable(legislations, 'Date considered',            'l.dateConsidered') }}</td>
                    <td>{{ knp_pagination_sortable(legislations, 'Name',                       'l.name') }}</td>
                    <td>Summary</td>
                    <td>Evaluator approved position</td>
                    <td>Weighting</td>
                    <td>Notes</td>
                    <td>Issue category</td>
                    <td>Government</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for legislation in legislations %}
                    <tr>
                        <td>{{ legislation.id }}</td>
                        <td>{{ legislation.govAssignedNumber }}</td>
                        <td>{{ legislation.dateConsidered|date('m/d/Y') }}</td>
                        <td>{{ legislation.name }}</td>
                        <td>{{ legislation.summary }}</td>
                        <td>{{ legislation.evaluatorApprovedPosition }}</td>
                        <td>{{ legislation.weighting }}</td>
                        <td>{{ legislation.notes }}</td>
                        <td>{% if legislation.issueCategory %}{{ legislation.issueCategory.name }}{% endif %}</td>
                        <td>{% if legislation.government %}{{ legislation.government.name }}{% endif %}</td>
                        <td><a href="{{-
                            path(
                                'govwiki_admin_legislation_edit',
                                {
                                    id: legislation.id
                                }
                            ) -}}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(legislations) }}
        </div>
    </div>
{% endblock %}
