<div class="paginate">
    <div class="loader" style="display: none"></div>
    <div class="tab-pane-main">
        {{ knp_pagination_render(issues) }}

        <div class="hidden-xs col-sm-12">

            <table id="issues" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th class="sortable">{{- knp_pagination_sortable(
                        issues,
                        'Name',
                        'Issue.name'
                        ) -}}</th>
                    <th class="sortable">{{- knp_pagination_sortable(
                        issues,
                        'Date',
                        'Issue.date'
                        ) -}}
                        {{- knp_pagination_sortable(
                        issues,
                        'Type',
                        'Issue.type'
                        ) -}}</th>
                    <th class="sortable">{{- knp_pagination_sortable(
                        issues,
                        'Description',
                        'Issue.description'
                        ) -}}</th>
                </tr>
                </thead>
                <tbody>
                {%- for issue in issues -%}
                    <tr {% if (issue.request is not null) and
                        (issue.request.status == constant('STATE_PENDING', issue.request)) -%}
                        style="background: rgba(80, 0, 0, 0.1)"
                            {%- endif -%}>
                        <td>
                            <a href="{{- issue.link -}}" target="_blank">
                                <img src="{{- asset('/images/download.png') -}}">
                            </a>
                        </td>
                        <td>{{- issue.name -}}</td>
                        <td>
                            <div>
                                {{- issue.date|date('Y/d/m') -}}
                            </div>
                            <div>
                                {{- issue.type -}}
                            </div>
                        </td>
                        <td>{{- issue.description -}}</td>
                        <td></td>
                    </tr>
                {%- endfor -%}
                <tr>
                    <td colspan="5" class="add">
                        Add new Issue
                        <span class="glyphicon glyphicon-plus"></span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>

{%- verbatim -%}
<script id="issue-row" type="text/x-handlebars-template">
    <tr style="background: rgba(80, 0, 0, 0.1)">
        <td>
            <a href="{{ link }}">
                <img src="/images/download.png">
            </a>
        </td>
        <td>{{ type }}</td>
        <td>{{ name }}</td>
        <td>{{ description }}</td>
        <td>{{ date }}</td>
    </tr>
</script>
{%- endverbatim -%}