
<div role="tabpanel" class="tab-pane" id="Contributions">

    <table class="table table-hover" data-entity-type="Contribution">
        <tr>
            <th><a class="sort" href="javascript:void(0);" data-sort-type="year">Election Year <i class="icon"></i></a></th>
            <th><a class="sort" href="javascript:void(0);" data-sort-type="name">Name of contributor <i class="icon"></i></a></th>
            <th>Ind. Exp. Desc.</th>
            <th><a class="sort" href="javascript:void(0);" data-sort-type="amount">Amount <i class="icon"></i></a></th>
            <th><a class="sort" href="javascript:void(0);" data-sort-type="contributor-type">Contributor Type <i class="icon"></i></a></th>
        </tr>

        {% if (elected.contributions is defined) and (elected.contributions is not empty) %}

            {% for contribution in elected.contributions %}

                <tr data-id="{{contribution.id}}">

                    <td data-election-year="{{contribution.electionYear}}">
                        <a href="javascript:void(0);" data-type="text" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{contribution.electionYear}}<span class="glyphicon glyphicon-pencil edit"></span></a>
                    </td>
                    <td data-contributor-name="{{contribution.contributorName}}">
                        <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{contribution.contributorName}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td data-independent-expenditure-desc="{{contribution.independentExpenditureDesc}}">
                        <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{contribution.independentExpenditureDesc}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td data-contribution-amount="{{contribution.contributionAmount}}">
                        <a href="javascript:void(0);" data-type="text" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{contribution.contributionAmount}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td data-contributor-type="{{contribution.contributorType}}">
                        <a href="javascript:void(0);" data-type="select" data-pk="1" data-source="{'Candidate Committee': 'Candidate Committee'}, {'Corporate': 'Corporate', 'Individual': 'Individual', 'Political Party': 'Political Party', 'Political Action Committee': 'Political Action Committee', 'Self': 'Self', 'Union': 'Union', 'Other': 'Other'}"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{contribution.contributorType}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>

                </tr>

            {% endfor %}

        {% else %}

            <tr>
                <td colspan="7" align="center">
                    <p style="font-size:18px; margin: 0;">No information at this time. Please check back later.</p>
                </td>
            </tr>

        {% endif %}

        <tr>
            <td colspan="7" class="add">
                Add new Contribution
                <span class="glyphicon glyphicon-plus"></span>
            </td>
        </tr>

    </table>

</div>