<div role="tabpanel" class="tab-pane" id="Statements">

    <table class="table table-hover" data-entity-type="Statements">
        <tr>
            <th>Date</th>
            <th>Summary</th>
            <th>URL</th>
            <th>Category</th>
        </tr>

        {% if (elected.publicStatements is defined) and (elected.publicStatements is not empty) %}

            {% for statement in elected.publicStatements %}

                <tr data-id="{{statement.id}}">
                    <td data-date="{{statement.date | date("m/d/Y")  }}">
                        <a href="javascript:void(0);" data-type="date" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""  data-format="mm/dd/yyyy"
                           title="">{{statements.date | date("m/d/Y") }}<span class="glyphicon glyphicon-pencil edit"></span></a>
                    </td>
                    <td data-contributor-name="{{statement.summary}}">
                        <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{statement.summary}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td data-url="{{statement.url}}">
                        <a href="javascript:void(0);" data-type="text" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{statement.url}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td data-issue-category="{{statement.issueCategory.name}}">
                        <a href="javascript:void(0);" data-type="select" data-pk="1" data-source="{{elected.category_select}}"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{statement.issueCategory.name}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                </tr>
            {% endfor %}

        {% else %}

            <tr>
                <td colspan="7" align="center">
                    <p style="font-size:18px;">No information at this time. Please check back later.</p>
                </td>
            </tr>

        {% endif %}

        <tr>
            <td colspan="7" class="add">
                Add new Statement
                <span class="glyphicon glyphicon-plus"></span>
            </td>
        </tr>

    </table>

</div>