{% import _self as fun %}
<div role="tabpanel" class="tab-pane" id="Statements">

    <table class="table table-hover" data-entity-type="Statements">
        <tr>
            <th>Date</th>
            <th>Summary</th>
            <th>URL</th>
            <th>Category</th>
            <th></th>
        </tr>

        {% if (elected.publicStatements is defined) and (elected.publicStatements is not empty) %}

            {% for statement in elected.publicStatements %}
                <tr data-id="{{statement.id}}">
                    <td data-date="{{statement.date | date("m/d/Y")  }}">
                        <a href="javascript:void(0);" data-type="date" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""  data-format="mm/dd/yyyy"
                           title="">{{statement.date | date("m/d/Y") }}<span class="glyphicon glyphicon-pencil edit"></span></a>
                    </td>
                    <td data-summary="{{statement.summary}}">
                        <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{statement.summary}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td data-url="{{statement.url}}">
                        <a href="javascript:void(0);" data-type="text" data-pk="1"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{statement.url}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td data-issue-category="{{statement.issueCategory.name}}">
                        <a href="javascript:void(0);" data-type="select" data-pk="1" data-source="{{statement.issueCategory.name}}"
                           data-placeholder="Please edit" data-title="Please edit"
                           class="editable editable-pre-wrapped editable-click" data-original-title=""
                           title="">{{statement.issueCategory.name}}</a>
                        <span class="glyphicon glyphicon-pencil edit"></span>
                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}

            {% if app.user and (createRequests is defined) %}
                {{ fun.renderNewPublicStatements(createRequests, categories) }}
            {% endif %}

        {% elseif app.user and (createRequests is defined) %}

            {{ fun.renderNewPublicStatements(createRequests, categories) }}

        {% else %}

            <tr>
                <td colspan="7" align="center">
                    <p style="font-size:18px;">No information at this time. Please check back later.</p>
                </td>
            </tr>

        {% endif %}

        <tr class="add_action">
            <td colspan="7" class="add">
                Add new Statement
                <span class="glyphicon glyphicon-plus"></span>
            </td>
        </tr>

    </table>

</div>

{% macro renderNewPublicStatements(createRequests, categories) %}

    {% for createRequest in createRequests %}
        {% if createRequest.entityName == 'PublicStatement' and createRequest.fields.fields.date is defined %}
            <tr data-id="{{ createRequest.id }}" style="background: rgba(80, 0, 0, 0.1)">
                <td data-date="{{ createRequest.fields.fields.date | date("m/d/Y") }}">
                    {{ createRequest.fields.fields.date | date("m/d/Y") }}
                </td>
                <td data-summary="{{ createRequest.fields.fields.summary }}" data-no-editable>
                    {{ createRequest.fields.fields.summary }}
                </td>
                <td data-url="{{ createRequest.fields.fields.url }}" data-no-editable>
                    {{ createRequest.fields.fields.url }}
                </td>

                {% set categoryName = '' %}
                {% for category in categories %}
                    {% if category.id == createRequest.fields.associations.issueCategory %}
                        {% set categoryName = category.name %}
                    {% endif %}
                {% endfor %}

                <td data-issue-category="{{ categoryName }}" data-no-editable>
                    {{ categoryName }}
                </td>

                {% set username = '' %}
                {% if createRequest.fields.fields.username is defined %}
                    {% set username = createRequest.fields.fields.username %}
                {% endif %}
                <td data-username="{{ username }}" data-no-editable>{{ username }}</td>
            </tr>
        {% endif %}
    {% endfor %}

{% endmacro %}