{% import _self as fun %}
<div role="tabpanel" class="tab-pane active" id="Votes">

    {{ knp_pagination_render(votes) }}

    <table class="table table-hover" data-entity-type="Legislation">
        <tr>
            <th class="column__date">Date <i class="icon"></i></th>
            <th>Title of Measure</th>
            <th>Summary of Measure</th>
            <th class="column__vote">How official Voted</th>
            <th>Sponsored by this official?</th>
            <th><a class="sort" data-sort-type="vote_category">Category <i class="icon"></i></a></th>
            <th></th>
        </tr>


        {% dump votes %}
        {% for vote in votes %}
            {% dump vote %}
            <tr data-id="{{vote.legislation.id}}" {%
                if (vote.legislation.request is not null) and (vote.legislation.request.status == 'pending') -%}
                    style="background: rgba(80, 0, 0, 0.1)"
                {%- endif -%}
            >
                <td data-date-considered="{{vote.legislation.dateConsidered | date("m/d/Y") }}">
                    <a href="javascript:void(0);" data-type="date" data-pk="1"  data-format="mm/dd/yyyy"
                       data-placeholder="Please edit" data-title="Please edit"
                       class="editable editable-pre-wrapped editable-click" data-original-title=""
                       title="">{{vote.legislation.dateConsidered | date("m/d/Y") }}</a>
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </td>
                <td data-name="{{vote.legislation.name}}">
                    <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                       data-placeholder="Please edit" data-title="Please edit"
                       class="editable editable-pre-wrapped editable-click" data-original-title=""
                       title="">{{vote.legislation.name}}</a>
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </td>
                <td data-summary="{{vote.legislation.summary}}">
                    <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                       data-placeholder="Please edit" data-title="Please edit"
                       class="editable editable-pre-wrapped editable-click" data-original-title=""
                       title="">{{vote.legislation.summary}}</a>
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </td>
                <td data-vote="{{vote.vote}}">
                    <a href="javascript:void(0);" data-type="select" data-source="{'Yes': 'Yes', 'No': 'No', 'Abstain': 'Abstain', 'Absence': 'Absence', 'Not in Office': 'Not in Office'}" data-pk="1"
                       data-placeholder="Please edit" data-title="Please edit"
                       class="editable editable-pre-wrapped editable-click" data-original-title=""
                       title="">{{vote.vote}}</a>
                    <span data-id="{{vote.id}}" class="glyphicon glyphicon-pencil edit"></span>
                </td>
                <td data-did-elected-official-propose-this="{{ vote.didElectedOfficialProposeThis ? 'Yes' : 'No' }}" align="center">
                    <a href="javascript:void(0);" data-type="select" data-source="{'0': 'No', '1': 'Yes'}" data-pk="1" data-placeholder="Please edit" data-title="Please edit" class="editable editable-pre-wrapped editable-click" data-original-title="" title="">{{ vote.didElectedOfficialProposeThis ? 'Yes' : 'No' }}</a>
                    <span data-id="{{vote.id}}" class="glyphicon glyphicon-pencil edit"></span>
                </td>
                <td data-issue-category="{{vote.legislation.issueCategory.name}}" data-no-editable>{{vote.legislation.issueCategory.name}}</td>

                {%- if (vote.legislation.request is not null) and (vote.legislation.request.status == 'pending') -%}
                    <td>{{ vote.legislation.request.creator.username }}</td>
                {%- else -%}
                    <td data-no-editable><span class="disqus-comment-count vote" id="{{elected.id}}_v{{vote.id}}" data-legislation-name="{{vote.legislation.name}}" data-disqus-identifier="{{elected.id}}_v{{vote.id}}">0</span></td>
                {%- endif -%}


            </tr>
        {% endfor %}

        <tr class="add_action">
            <td colspan="7" class="add">
                Add new Vote
                <span class="glyphicon glyphicon-plus"></span>
            </td>
        </tr>
    </table>

    {{ knp_pagination_render(votes) }}

    {#<table class="table table-hover" data-entity-type="Legislation">
        <tr>
            <th class="column__date"><a class="sort" data-sort-type="vote_date">Date <i class="icon"></i></a></th>
            <th>Title of Measure</th>
            <th>Summary of Measure</th>
            <th class="column__vote">How official Voted</th>
            <th>Sponsored by this official?</th>
            <th><a class="sort" data-sort-type="vote_category">Category <i class="icon"></i></a></th>
            <th></th>
        </tr>
        {% if (elected.votes is defined) and (elected.votes is not empty) %}

            {{ fun.renderVotes(elected.votes, elected) }}

            {% if app.user and (createRequests is defined) %}
                {{ fun.renderNewVotes(createRequests, categories, elected) }}
            {% endif %}

        {% elseif app.user and (createRequests is defined) %}

            {{ fun.renderNewVotes(createRequests, categories, elected) }}

        {% else %}

            <tr>
                <td colspan="7" align="center">
                    <p style="font-size:18px;">No information at this time. Please check back later.</p>
                </td>
            </tr>

        {% endif %}

        <tr class="add_action">
            <td colspan="7" class="add">
                Add new Vote
                <span class="glyphicon glyphicon-plus"></span>
            </td>
        </tr>

    </table>#}

</div>

{% macro renderVotes(votes, elected) %}

    {% for vote in votes %}
        <tr data-id="{{vote.legislation.id}}">
            <td data-date-considered="{{vote.legislation.dateConsidered | date("m/d/Y") }}">
                <a href="javascript:void(0);" data-type="date" data-pk="1"  data-format="mm/dd/yyyy"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{vote.legislation.dateConsidered | date("m/d/Y") }}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-name="{{vote.legislation.name}}">
                <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{vote.legislation.name}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-summary="{{vote.legislation.summary}}">
                <a href="javascript:void(0);" data-type="textarea" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{vote.legislation.summary}}</a>
                <span class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-vote="{{vote.vote}}">
                <a href="javascript:void(0);" data-type="select" data-source="{'Yes': 'Yes', 'No': 'No', 'Abstain': 'Abstain', 'Absence': 'Absence', 'Not in Office': 'Not in Office'}" data-pk="1"
                   data-placeholder="Please edit" data-title="Please edit"
                   class="editable editable-pre-wrapped editable-click" data-original-title=""
                   title="">{{vote.vote}}</a>
                <span data-id="{{vote.id}}" class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-did-elected-official-propose-this="{{ vote.didElectedOfficialProposeThis ? 'Yes' : 'No' }}" align="center">
                <a href="javascript:void(0);" data-type="select" data-source="{'0': 'No', '1': 'Yes'}" data-pk="1" data-placeholder="Please edit" data-title="Please edit" class="editable editable-pre-wrapped editable-click" data-original-title="" title="">{{ vote.didElectedOfficialProposeThis ? 'Yes' : 'No' }}</a>
                <span data-id="{{vote.id}}" class="glyphicon glyphicon-pencil edit"></span>
            </td>
            <td data-issue-category="{{vote.legislation.issueCategory.name}}" data-no-editable>{{vote.legislation.issueCategory.name}}</td>
            <td data-no-editable><span class="disqus-comment-count vote" id="{{elected.id}}_v{{vote.id}}" data-legislation-name="{{vote.legislation.name}}" data-disqus-identifier="{{elected.id}}_v{{vote.id}}">0</span></td>
        </tr>
        {% if vote.comments|length > 0 %}
            {% set electedComment = vote.comments|first %}
            <tr data-id="{{vote.legislation.id}}" class="elected-comment">
                <td colspan="7">{{ electedComment.body|raw }}</td>
            </tr>
        {% endif %}
    {% endfor %}

{% endmacro %}

{% macro renderNewVotes(createRequests, categories, elected) %}

    {% for createRequest in createRequests %}
        {% if createRequest.entityName == 'Legislation' and createRequest.fields.fields.dateConsidered is defined %}
            <tr data-id="{{ createRequest.id }}" style="background: rgba(80, 0, 0, 0.1)">
                <td data-date-considered="{{ createRequest.fields.fields.dateConsidered }}">
                    {{ createRequest.fields.fields.dateConsidered }}
                </td>
                <td data-name="{{ createRequest.fields.fields.name }}" data-no-editable>
                    {{ createRequest.fields.fields.name }}
                </td>
                <td data-summary="{{ createRequest.fields.fields.summary }}" data-no-editable>
                    {{ createRequest.fields.fields.summary }}
                </td>

                {% set childs = createRequest.fields.childs %}
                {% set create_request_vote = '' %}
                {% set create_request_didElectedOfficialProposeThis = '' %}
                {% for child in childs %}
                    {% if child.fields.associations.electedOfficial == elected.id %}
                        {% if child.fields.fields.vote is defined %}
                            {% set create_request_vote = child.fields.fields.vote %}
                        {% endif %}
                        {% if child.fields.fields.didElectedOfficialProposeThis is defined %}
                            {% set create_request_didElectedOfficialProposeThis = child.fields.fields.didElectedOfficialProposeThis %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td align="center" data-vote="{{ create_request_vote }}" data-no-editable>
                    {{ create_request_vote }}
                </td>

                <td align="center" data-did-elected-official-propose-this="{{ create_request_didElectedOfficialProposeThis }}" data-no-editable>
                    {{ create_request_didElectedOfficialProposeThis }}
                </td>

                {% set categoryName = '' %}
                {% for category in categories %}
                    {% if category.id == createRequest.fields.associations.issueCategory %}
                        {% set categoryName = category.name %}
                    {% endif %}
                {% endfor %}

                <td data-issue-category="{{ categoryName }}" data-no-editable>
                    {{ categoryName }}
                </td>

                {% set username = '' %}
                {% if createRequest.fields.fields.username is defined %}
                    {% set username = createRequest.fields.fields.username %}
                {% endif %}
                <td data-username="{{ username }}" data-no-editable>{{ username }}</td>
            </tr>
        {% endif %}
    {% endfor %}

{% endmacro %}