{% set copyright = 'footer.copyright'|trans %}
{% set links     = 'footer.links'|trans %}
{% set social    = 'footer.social'|trans %}

<!--start Footer-->
<footer class="footer">
    <div class="footer_row">
        <a href="{{ environment.logoHref }}" class="footer_logo"><img src="{{ asset('/img/AbrePRLogo.png') }}" alt=""></a>
        {% if social is defined and social is not empty %}
            {{ social|raw }}
        {% endif %}
    </div>
    <address class="footer_address">
        1001 Ave Ponce de Leon San Juan, PR 00907
        <a href="tel:(212) 334-1300" class="phone">(212) 334-1300</a>
    </address>
    {% if copyright is defined and copyright is not empty %}
        {{ copyright|raw }}
    {% endif %}

    {% if links is defined and links is not empty %}
        <div class="footer__row_links">
            {{ links|raw }}
        </div>
    {% endif %}

</footer>
<!--end Footer-->



