<div class="row header">

    {# Logo #}
    <div class="col-xs-6 col-sm-6 col-md-3">

        {% if government is defined and government.secondaryLogoPath %}
            <a class="anchor" href="/">
                <img src="{{ environment_content.get('header_logo')|raw }}" class="logo" width="70%">
            </a>
            {% if government.secondaryLogoUrl %}
                <a class="anchor" href="{{ government.secondaryLogoUrl }}">
                    <img class="secondary_logo" src="{{ asset(government.secondaryLogoPath) }}" width="25%">
                </a>
            {% else %}
                <img class="secondary_logo" src="{{ asset(government.secondaryLogoPath) }}" width="25%">
            {% endif %}
        {% elseif elected.government is defined and elected.government.secondaryLogoPath %}
            <a class="anchor" href="/">
                <img src="{{ environment_content.get('header_logo')|raw }}" class="logo" width="70%">
            </a>
            {% if elected.government.secondaryLogoUrl %}
                <a class="anchor" href="{{ elected.government.secondaryLogoUrl }}">
                    <img class="secondary_logo" src="{{ asset(elected.government.secondaryLogoPath) }}" width="25%">
                </a>
            {% else %}
                <img class="secondary_logo" src="{{ asset(elected.government.secondaryLogoPath) }}" width="25%">
            {% endif %}
        {% else %}
                <img src="{{ environment_content.get('header_logo')|raw }}" class="logo">
        {% endif %}

        {#{{- render(controller('GovWikiFrontendBundle:Localization:showLocalesInHeader')) -}}#}
    </div>

    {# Menu button (hamburger) for mobile devices #}
    <div class="col-xs-6 col-sm-6 visible-xs visible-sm">

        <button type="button" class="hamburger navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-navigation-collapse" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    {# Navigation #}
    <nav class="col-xs-12 col-sm-12 col-md-9 text-right">

        <ul class="navigation navbar-collapse collapse" id="bs-navigation-collapse">

            {% if hasElectedOfficials %}
                {% if app.user %}
                    {# Show User name (Athorized) #}
                    <li>
                        <a href="javascript:void(0)" class="link">
                            Logged in as {{ app.user.username }}
                        </a>
                    </li>

                    {# Logout button #}
                    <li>
                        <a href="{{path('fos_user_security_logout')}}" class="link">
                            Sign Out
                        </a>
                    </li>

                {% else %}
                    {# Login button#}
                    <li>
                        <a href="#" class="link" data-toggle="modal" data-target="#modal-window">
                            Login / Sign Up
                        </a>
                    </li>

                {% endif %}

            {% endif %}

            {# Return to map #}
            {% if app.request.attributes.get('_route') != "map" %}
                <li>
                    <a href="{{ govwiki_path('map') }}" class="link">
                        {#{{ 'header.links.return_to_map'|trans }}#}
                        Return to Map
                    </a>
                </li>
            {% endif %}

            {# Return to some government #}
            {% if app.request.attributes.get('_route') == "elected" %}
                <li>
                    <a href="{{ govwiki_path('government', {
                        altTypeSlug: altTypeSlug,
                        slug: slug
                    }) }}" class="link">
                        Return to {{ slug|replace('_', ' ') }}
                    </a>
                </li>
            {% endif %}

        </ul>

    </nav>

</div>