<header class="header">
    <div class="row row_header">
        <div class="col-md-6 col-sm-6 col-xs-6 header_logo">

            {% if government is defined and government.secondaryLogoPath %}

                <a href="{{ environment.logoHref }}" class="logo">
                    <span class="sub_name">{{ 'develop.by'|trans }}</span>
                    <img class="img-responsive" src="{{ environment.logo }}" alt="">
                </a>

                {% if government.secondaryLogoUrl %}
                    <a href="{{ government.secondaryLogoUrl }}" class="logo">
                        <span class="sub_name">{{ 'develop.by'|trans }}</span>
                        <img class="img-responsive" src="{{ asset(government.secondaryLogoPath) }}" alt="">
                    </a>
                {% else %}
                    <img class="img-responsive" src="{{ asset(government.secondaryLogoPath) }}" alt="">
                {% endif %}
            {% elseif elected.government is defined and elected.government.secondaryLogoPath %}
                <a class="anchor" href="{{ environment.logoHref }}">
                    <img class="img-responsive" src="{{ environment.logo }}" class="logo" width="70%">
                </a>
                {% if elected.government.secondaryLogoUrl %}
                    <a href="{{ elected.government.secondaryLogoUrl }}" class="logo">
                        <span class="sub_name">{{ 'develop.by'|trans }}</span>
                        <img class="img-responsive" src="{{ asset(elected.government.secondaryLogoPath) }}" alt="">
                    </a>
                {% else %}
                    <img src="{{ asset(elected.government.secondaryLogoPath) }}" alt="">
                {% endif %}
            {% else %}
                <a href="{{ environment.logoHref }}" class="logo">
                    <span class="sub_name">{{ 'develop.by'|trans }}</span>
                    <img class="img-responsive" src="{{ environment.logo }}" alt="">
                </a>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 header_languages">
            <a href="https://www.abrepr.org/" class="link_main">ABREPR.ORG</a>
            {% set _locales = render(controller('GovWikiFrontendBundle:Localization:showLocalesInHeader', {'current_page_route': app.request.attributes.get('_route')})) %}

            {% if _locales is defined %}
                {{ _locales|raw }}
            {% endif %}
        </div>
    </div>
</header>