{% extends "GovWikiAdminBundle:Government:layout.html.twig" %}

{% block title %}{{ parent() }} - Edit government{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(
        'Governments',
        'govwiki_admin_government_index',
        { 'environment': environment.slug }
    ) -}}
    {{- macro.breadcrumbElement(government.name) -}}
{% endblock breadcrumb %}

{% block panel_title %}
    Edit {{ government.name }}
{% endblock panel_title %}

{% block panel_body %}
    {{ form_start(form) }}
    <div class="col-md-6">
        <h4>Main information</h4>
        {{ form_row(form.name) }}
        {{ form_row(form.altType) }}
        {% if form['environment'] is defined %}
            {{ form_row(form.environment) }}
        {% endif %}
        {% if availableYears is defined and availableYears|length > 0 %}
            <div>
                <label for="years">Select year for editing data</label>
                <div class="input-group">
                    <select class="form-control" id="years">
                        {% for year in availableYears %}
                            <option value="{{- path(
                                'govwiki_admin_governmentdata_edit',
                                {
                                    'environment': environment.slug,
                                    'government': government.id,
                                    'year': year
                                }
                            ) -}}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-btn">
                        <button type="button" id="data-edit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a href="{{- path(
                    'govwiki_admin_governmentdata_new',
                    {
                        'environment': environment.slug,
                        'government': government.id
                    }
                ) -}}">Add data for new year</a>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Urls</h4>
        {{ form_row(form.wikipediaPageName) }}
        {{ form_row(form.secondaryLogo) }}
        {{ form_row(form.secondaryLogoUrl) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.image) }}
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-default" href="{{- path(
            'govwiki_admin_government_index',
            { 'environment': environment.slug }
        ) -}}">Back</a>
    </div>
    {{ form_end(form) }}
{% endblock panel_body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('#data-edit').click(function() {
                window.location = $('#years').find(':selected').val();
            });
        });
    </script>
{% endblock javascripts %}
