{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}
{% block title %}{{ parent() }} - government export{% endblock %}
{% block body %}
    <div class="container-fluid">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-default">Export</button>
        <a class="btn btn-default" href="{{-
            path(
            'govwiki_admin_government_index'
            )
            -}}">Back</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
