{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}
{% block title %}{{ parent() }} - governments{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="index-page-head">
            <div class="navigation">
                <div class="row">
                    <div class="col-md-5">
                        {{ knp_pagination_render(governments) }}
                    </div>
                    <div class="col-md-6">
                        <form action="" class="form-inline">
                            <input name="filter[id]" type="text" class="form-control" placeholder="Id"{% if app.request.query.get('filter') %} value="{{app.request.query.get('filter').id}}"{% endif %}>
                            <input name="filter[name]" type="text" class="form-control" placeholder="Name"{% if app.request.query.get('filter') %} value="{{app.request.query.get('filter').name}}"{% endif %}>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </form>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{-
                            path('govwiki_admin_government_create')
                        -}}">Create</a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>{{ knp_pagination_sortable(governments, 'Id',        'Government.id') }}</td>
                    <td>{{ knp_pagination_sortable(governments, 'Name',      'Government.name') }}</td>
                    <td>{{ knp_pagination_sortable(governments, 'Slug',      'Government.slug') }}</td>
                    <td>{{ knp_pagination_sortable(governments, 'Type',      'Government.type') }}</td>
                    <td>{{ knp_pagination_sortable(governments, 'Alt. type', 'Government.altType') }}</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for government in governments %}
                    <tr>
                        <td>{{ government.id }}</td>
                        <td>{{ government.name }}</td>
                        <td>{{ government.slug }}</td>
                        <td>{{ government.type }}</td>
                        <td>{{ government.altType }}</td>
                        <td><a href="{{- path('govwiki_admin_government_edit',
                            { id: government.id }) -}}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Edit
                        </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(governments) }}
        </div>
    </div>
{% endblock %}
