{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - governments{% endblock %}

{% block breadcrumb %}
    {{ macro.breadcrumbElement('Main', 'govwiki_admin_main_home') }}
    {{- macro.breadcrumbElement(
        environment.name ~' environment',
        'govwiki_admin_environment_show',
        { 'environment': environment.slug }
    ) -}}
    {{ macro.breadcrumbElement('Governments') }}
{% endblock breadcrumb %}

{% block panel_title %}
    {{ environment.name }} governments
{% endblock panel_title %}

{% block panel_body %}

    {# Navigation #}
    <div class="row">

        {# Pagination #}
        <div class="col-xs-12 col-sm-12 col-md-4 hidden-xs hidden-sm text-center">
            {{ knp_pagination_render(governments) }}
        </div>

        {# Filter #}
        <div class="col-xs-8 col-sm-9 col-md-5 col-lg-5 text-center text-left-sm">

            <div class="row">
                <form action="" method="get" class="form-inline controls">
                    <div class="col-xs-10">
                        <input name="filter[id]" type="text" class="form-control input-sm" placeholder="Id" value="{{ macro.filterValue('id') }}">

                        <input name="filter[name]" type="text" class="form-control input-sm" placeholder="Name" value="{{ macro.filterValue('name') }}">

                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center-xs">
                        <button type="submit" class="btn btn-sm btn-primary controls" value="Filter"> Filter </button>
                    </div>
                </form>
            </div>

        </div>

        {# Controls #}
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 text-center text-right-sm">
            <div class="btn-group controls">
                {#<a class="btn btn-sm btn-default" href="{{-#}
                {#path('govwiki_admin_government_export')#}
                {#-}}">Export</a>#}
                {#<a class="btn btn-sm btn-primary" href="{{-#}
                    {#path('govwiki_admin_government_create', {#}
                        {#'environment': environment.slug#}
                    {#})#}
                {#-}}">Create</a>#}
            </div>
        </div>
    </div>


    <div class="table-responsive">

        <table class="table table-bordered table-hover text-center">
            <thead>
            <tr>
                <th>{{- knp_pagination_sortable(
                    governments,
                    'Id',
                    'Government.id')
                -}}</th>
                <th>{{- knp_pagination_sortable(
                    governments,
                    'Name',
                    'Government.name')
                -}}</th>
                <th>{{- knp_pagination_sortable(
                    governments,
                    'Slug',
                    'Government.slug')
                -}}</th>
                <th>{{- knp_pagination_sortable(
                    governments,
                    'Alt. type',
                    'Government.altType')
                -}}</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for government in governments %}
                <tr>
                    <td>{{ government.id }}</td>
                    <td>{{ government.name }}</td>
                    <td>{{ government.slug }}</td>
                    <td>{{ government.altType }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{- path('govwiki_admin_government_edit', {
                                'environment': environment.slug,
                                'government': government.id
                            }) -}}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Edit
                            </a>
                            <a href="{{- path('govwiki_admin_subscribe_index', {
                                'environment': environment.slug,
                                'government': government.id
                            }) -}}" class="btn btn-sm btn-primary">Messages</a>
                            <button data-url="{{- path(
                                'govwiki_admin_government_remove',
                                {
                                    'environment': environment.slug,
                                    'government': government.id
                                }
                            ) -}}" class="btn btn-sm btn-danger btn-delete"
                                    data-description="Are you sure want to delete government '{{ government.name }}'?">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    {{ knp_pagination_render(governments) }}

{% endblock panel_body %}
