{% extends "GovWikiAdminBundle:Layout:environment.html.twig" %}

{% block title %}{{ parent() }} - governments{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {# Panel #}
            <div class="panel panel-primary">

                {# Header #}
                <div class="panel-heading">
                    <h3 class="panel-title">Governments</h3>
                </div>

                {# Body #}
                <div class="panel-body">

                    {# Navigation #}
                    <div class="row">

                        {# Pagination #}
                        <div class="col-xs-12 col-sm-12 col-md-4 hidden-xs hidden-sm text-center">
                            {{ knp_pagination_render(governments) }}
                        </div>

                        {# Filter #}
                        <div class="col-xs-8 col-sm-9 col-md-5 col-lg-5 text-center text-left-sm">

                            <div class="row">
                                <div class="col-xs-10">

                                    <form class="form-inline controls">
                                        <input name="filter[id]" type="text" class="form-control input-sm" placeholder="Id"
                                               value="{{ app.request.query.get('filter') ? app.request.query.get('filter').id}}">

                                        <input name="filter[name]" type="text" class="form-control input-sm" placeholder="Name"
                                               value="{{app.request.query.get('filter') ? app.request.query.get('filter').name}}">
                                    </form>
                                </div>

                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center-xs">
                                    <button type="submit" class="btn btn-sm btn-primary controls" value="Filter"> Filter </button>
                                </div>
                            </div>

                        </div>

                        {# Controls #}
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 text-center text-right-sm">
                            <div class="btn-group controls">
                                <a class="btn btn-sm btn-default" href="{{-
                                    path('govwiki_admin_government_export')
                                -}}">Export</a>
                                <a class="btn btn-sm btn-default" href="{{-
                                    path('govwiki_admin_government_import')
                                -}}">Import</a>
                                <a class="btn btn-sm btn-primary" href="{{-
                                    path('govwiki_admin_government_create')
                                -}}">Create</a>
                            </div>
                        </div>
                    </div>

                    {# Table #}
                    <div class="row">
                        <div class="col-md-12">

                            <div class="table-responsive">

                                <table class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>{{ knp_pagination_sortable(governments, 'Id',        'Government.id') }}</th>
                                            <th>{{ knp_pagination_sortable(governments, 'Name',      'Government.name') }}</th>
                                            <th>{{ knp_pagination_sortable(governments, 'Slug',      'Government.slug') }}</th>
                                            <th>{{ knp_pagination_sortable(governments, 'Type',      'Government.type') }}</th>
                                            <th>{{ knp_pagination_sortable(governments, 'Alt. type', 'Government.altType') }}</th>
                                            <th class="actions">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for government in governments %}
                                            <tr>
                                                <td>{{ government.id }}</td>
                                                <td>{{ government.name }}</td>
                                                <td>{{ government.slug }}</td>
                                                <td>{{ government.type }}</td>
                                                <td>{{ government.altType }}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a href="{{- path('govwiki_admin_government_edit',
                                                            { id: government.id }) -}}" class="btn btn-sm btn-default">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                                Edit
                                                        </a>
                                                        <a href="{{- path('govwiki_admin_government_remove',
                                                        { id: government.id }) -}}" class="btn btn-sm btn-danger">
                                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>


                    {# Navigation #}
                    <div class="row">
                        <div class="col-md-12 text-center">

                            {# Pagination #}
                            <div class="navigation">
                                {{ knp_pagination_render(governments) }}
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
